@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: 100%;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  margin: auto;
  cursor: pointer;

  @include mixins.mobile {
    margin: auto;
    height: 100%;
    width: calc(100% - 24px);
  }

  .mapTag {
    position: absolute;
    right: -120px;
    top: 30%;
    width: 180px;
    text-align: left;

    @include mixins.mobile {
      right: -30px;
      top: 15%;
    }
  }
}

.location {
  position: absolute;
  top: 45%;
  color: config.$grey;
}

.information {
  position: absolute;
  bottom: -20px;

  @include mixins.mobile {
    top: 280px;
  }
  @include mixins.tablet {
    top: 350px;
  }

  .row,
  .rowReverse {
    display: flex;
    align-items: center;
    margin: 8px 0px;
    color: config.$grey;

    .click {
      cursor: pointer;
    }

    p {
      margin-right: 12px;
    }
  }

  .row {
    flex-direction: row-reverse;
  }
}
