@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container,
.containerReverse {
  display: flex;
  flex-direction: row;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;

  @include mixins.mobile {
    flex-direction: column-reverse !important;
    width: 100%;
    margin-top: 150px;
  }
}

.containerReverse {
  flex-direction: row-reverse;
}

.image {
  width: 300px;
  cursor: pointer;

  @include mixins.mobile {
    margin: auto;
    margin-top: 50px;
    width: 50%;
  }
}

.informationContainer {
  display: flex;
  margin: auto;
  width: 100%;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .title {
    position: relative;
    z-index: 2;
    font-size: 220px !important;

    @include mixins.mobile {
      font-size: 45px !important;
    }
    @include mixins.tablet {
      font-size: 100px !important;
    }
  }
}

.information,
.informationReverse {
  position: relative;
  width: 100%;
  text-align: right;

  @include mixins.mobile {
    width: 100%;
  }

  .details {
    position: relative;
    bottom: 80px;
    @include mixins.mobile {
      bottom: 0px;
    }
    @include mixins.tablet {
      bottom: 0px;
    }
  }

  .tag,
  .tagReverse {
    display: flex;
    align-items: center;
    color: config.$grey;
    position: relative;
    top: 100px;

    @include mixins.mobile {
      top: 0px;
    }
    @include mixins.tablet {
      top: 0px;
    }
  }

  .tag {
    flex-direction: row-reverse;
    top: 50px;

    @include mixins.mobile {
      top: 0px;
    }
    @include mixins.tablet {
      top: 0px;
    }
  }

  .row,
  .rowReverse {
    display: flex;
    align-items: center;
    margin: 8px 0px;
    color: config.$grey;
    position: relative;
    z-index: 3;

    .click {
      cursor: pointer;
    }

    p {
      margin-right: 12px;
    }
  }

  .row {
    flex-direction: row-reverse;
  }
}

.informationReverse {
  text-align: left;
}
