@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.informationContainer {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: config.$content-width;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.information,
.informationReverse {
  position: relative;
  right: 0px;
  text-align: right;
  width: 40%;

  @include mixins.mobile {
    width: 100%;
  }

  .row,
  .rowReverse {
    display: flex;
    align-items: center;
    margin: 16px 0px;
    cursor: pointer;

    @include mixins.mobile {
      padding: 4px;
      @include mixins.transparentBackground(0.6, config.$white);
      @include mixins.border-radius();
    }

    p {
      margin: 0px 12px;
    }
  }

  .row {
    flex-direction: row-reverse;
  }
}

.informationReverse {
  text-align: left;
}
