@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .information,
  .informationReverse,
  .details,
  .detailsReverse {
    width: 100%;
    text-align: right;
    margin: 50px 0px;

    @include mixins.mobile {
      margin-top: 30px;
    }

    .item {
      cursor: pointer;

      &:hover {
        color: config.$yellow;
      }
    }

    .title {
      color: config.$yellow;
    }

    .description {
      margin-top: 20px;
    }
  }

  .informationReverse,
  .detailsReverse {
    direction: rtl;
    text-align: left;
  }

  .categoryDescription,
  .categoryDescriptionReverse {
    margin-bottom: 50px;
    color: config.$grey;
    text-align: right;
  }
  .categoryDescriptionReverse {
    margin-bottom: 50px;
    text-align: left;
  }

  .projectController {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 5;
    @include mixins.transparentBackground(0.95, config.$white);

    .controller {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      margin: auto;
      max-width: config.$max-widthHeigh;
      width: config.$content-width;

      @include mixins.mobile {
        width: calc(100% - 24px);
      }

      .icon {
        color: config.$grey;
        cursor: pointer;

        &:hover {
          color: config.$black;
        }
      }
    }
  }

  .imageBox,
  .imageBoxDouble,
  .imageBoxQuadruple {
    position: relative;
    width: 100%;
    height: 90vh;
    max-height: 900px;
    margin-bottom: 20px;
    cursor: pointer;

    @include mixins.mobile {
      height: 250px;
    }
    @include mixins.tablet {
      max-height: 500px;
    }

    .image {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    .enlarge {
      position: absolute;
      bottom: 10px;
      left: 10px;
      border-radius: 50px;
      padding: 8px 20px;
      color: config.$white;
      @include mixins.transparentBackground(0.5, config.$lightgrey);

      &:hover {
        color: config.$yellow;
      }
    }

    .video,
    .videoRadius {
      width: 100%;
      height: 90vh;
      max-height: 900px;
      object-fit: cover;

      @include mixins.mobile {
        height: 250px;
      }
    }

    .videoRadius {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }
}

.imageBoxDouble,
.imageBoxQuadruple {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px;
  margin-top: 30px;

  .imageBox {
    width: 100%;
  }
  .image {
    border-radius: 0px !important;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 10px;
    height: 100% !important;
  }
}

.imageBoxQuadruple {
  .imageBox {
    height: 100%;
  }
}

.control {
  position: relative;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    border-radius: 50px;
    padding: 8px 20px;
    z-index: 1;
    margin-right: 10px;
    color: config.$black;
    @include mixins.transparentBackground(0.5, config.$lightgrey);

    &:hover {
      color: config.$yellow;
    }

    @include mixins.mobile {
      margin-bottom: 10px;
    }
  }
}

.swiper {
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }

  .slide {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .image {
    height: 90vh;
    max-height: 900px;

    @include mixins.mobile {
      height: 250px;
    }
    @include mixins.tablet {
      max-height: 500px;
    }
  }

  .video {
    width: 100%;
    height: 90vh;
    max-height: 900px;
    object-fit: cover;

    @include mixins.mobile {
      height: 250px;
    }
    @include mixins.tablet {
      max-height: 500px;
    }
  }
}

.controlPanel,
.dropDown {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-radius: 50px;
  box-shadow: config.$image-shadow;
  background: config.$white;

  @include mixins.mobile {
    width: 40%;
  }
  @include mixins.tablet {
    width: 25%;
  }
}

.dropDown {
  top: 190px;
  flex-direction: column;
  height: 80px;
  border-radius: 4px;

  .confirm {
    color: config.$green;
    cursor: pointer;
  }
  .cancel {
    color: config.$red;
    cursor: pointer;
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  direction: rtl;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .project {
    cursor: pointer;
    color: config.$grey;
    position: relative;

    &:hover {
      color: config.$black;
    }

    .title,
    .titleReverse {
      display: flex;
      flex-direction: row;
    }

    .titleReverse {
      flex-direction: row-reverse;
    }

    .visibility {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
    }
  }

  .box {
    position: relative;
    width: 100%;
    height: 28vh;
    min-height: 200px;
    max-height: 280px;
    margin: 12px 0px;

    @include mixins.mobile {
      min-height: 250px;
    }
    @include mixins.tablet {
      min-height: 250px;
    }
    .video {
      width: 100%;
      height: 28vh;
      min-height: 200px;
      max-height: 280px;
      object-fit: cover;

      @include mixins.mobile {
        min-height: 250px;
      }
      @include mixins.tablet {
        min-height: 250px;
      }
    }
  }
}

.category {
  position: relative;
  font-size: 45px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;

  @include mixins.mobile {
    font-size: 25px !important;
  }

  @include mixins.tablet {
    font-size: 30px !important;
  }

  span {
    color: config.$black;
    margin: 0px 12px;
  }

  .nav {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }

  .navActive {
    display: flex;
    align-items: center;
    color: config.$yellow;
  }
}

.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 20px 12px;
  width: 100%;
  height: 100vh;
  background: config.$white;

  h3 {
    margin: 20px 0px;
  }

  .icon {
    display: flex;
    width: 100%;
    direction: rtl;
    cursor: pointer;
  }
}

.nextProject {
  border-top: 1px solid config.$lightgrey;
  padding-top: 100px;
  margin-top: 100px;
}
