@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  .information,
  .informationReverse,
  .details,
  .detailsReverse {
    width: 100%;
    text-align: right;
    margin: 50px 0px;

    @include mixins.mobile {
      margin-top: 30px;
    }

    .item {
      cursor: pointer;

      &:hover {
        color: config.$yellow;
      }
    }

    h2 {
      color: config.$grey;
      margin-bottom: 50px;
    }

    .description {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .seperation {
        color: config.$grey;
        margin: 0px 10px;
      }
    }

    .text {
      direction: rtl;
    }
  }

  .informationReverse,
  .detailsReverse {
    direction: rtl;
    text-align: left;

    .text {
      direction: ltr;
    }
  }

  .categoryDescription,
  .categoryDescriptionReverse {
    margin-bottom: 50px;
    text-align: right;
  }
  .categoryDescriptionReverse {
    margin-bottom: 50px;
    text-align: left;
  }

  .projectController {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 5;
    @include mixins.transparentBackground(0.95, config.$white);

    .controller {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      margin: auto;
      max-width: config.$max-widthHeigh;
      width: config.$content-width;

      @include mixins.mobile {
        width: calc(100% - 24px);
      }
      @include mixins.tablet {
        width: config.$content-widthTablet;
      }

      .icon {
        color: config.$grey;
        cursor: pointer;

        &:hover {
          color: config.$black;
        }
      }
    }
  }

  .imageBox,
  .imageBoxDouble,
  .imageBoxQuadruple {
    position: relative;
    width: 100%;
    height: 90vh;
    max-height: 900px;
    margin-bottom: 20px;
    cursor: pointer;

    @include mixins.mobile {
      height: 250px;
    }
    @include mixins.tablet {
      height: 650px;
    }

    .imageTest {
      object-fit: 0% 0%;
    }

    .image {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    .enlarge {
      position: absolute;
      bottom: 10px;
      left: 10px;
      border-radius: 50px;
      padding: 8px 20px;
      color: config.$white;
      @include mixins.transparentBackground(0.5, config.$lightgrey);

      &:hover {
        color: config.$yellow;
      }

      @include mixins.mobile {
        scale: 0.8;
      }
    }

    .video,
    .videoRadius {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .videoRadius {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

  .imageBox:last-child {
    margin-bottom: 0px !important;
  }
}

.imageBoxDouble,
.imageBoxQuadruple {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    gap: 0px;
  }

  .imageBox {
    width: 100%;

    @include mixins.mobile {
      height: 100vh !important;
    }
    @include mixins.desktop {
      height: 100%;
    }
    @include mixins.fourK {
      height: 100%;
    }

    .imageFrame {
      @include mixins.mobile {
        object-position: 0% 100%;
      }
    }
  }
  .image {
    border-radius: 0px !important;
  }
  .videoRadius {
    border-radius: 0px !important;
  }
}

.controlText {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;

  p {
    margin-right: 10px;
  }
}

.control {
  position: relative;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 8px 12px;
    z-index: 1;
    height: 40px;
    margin-right: 10px;
    color: config.$black;
    @include mixins.transparentBackground(0.7, config.$white);

    @include mixins.mobile {
      margin-bottom: 10px;
      scale: 0.8;
      margin: 0px;
    }
  }

  p {
    &:hover {
      color: config.$yellow;
    }
  }
}

.swiper {
  cursor: pointer;
  margin-bottom: 20px;

  .slide {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .imageContainer {
    position: relative;
    height: 80vh;
    max-height: 780px;

    .image {
      object-position: 0% 0%;
    }

    @include mixins.mobile {
      height: 200px;
    }
    @include mixins.tablet {
      height: 650px;
    }
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mixins.mobile {
      height: 200px;
    }
    @include mixins.tablet {
      height: 650px;
    }
  }
}

.controlPanel,
.dropDown {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-radius: 50px;
  box-shadow: config.$image-shadow;
  background: config.$white;

  @include mixins.mobile {
    width: 40%;
  }
  @include mixins.tablet {
    width: 25%;
  }
}

.dropDown {
  top: 190px;
  flex-direction: column;
  height: 80px;
  border-radius: 4px;

  .confirm {
    color: config.$green;
    cursor: pointer;
  }
  .cancel {
    color: config.$red;
    cursor: pointer;
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  direction: rtl;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .project {
    cursor: pointer;
    color: config.$grey;
    position: relative;

    &:hover {
      color: config.$black;
    }

    .title,
    .titleReverse {
      display: flex;
      flex-direction: row;
    }

    .titleReverse {
      flex-direction: row-reverse;
    }

    .visibility {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
    }
  }

  .box {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 200px;
    max-height: 300px;
    margin: 12px 0px;

    @include mixins.mobile {
      min-height: 250px;
    }
    @include mixins.tablet {
      min-height: 250px;
    }
    .video {
      width: 100%;
      height: 30vh;
      min-height: 200px;
      max-height: 300px;
      object-fit: cover;

      @include mixins.mobile {
        min-height: 250px;
      }
      @include mixins.tablet {
        min-height: 250px;
      }
    }
  }
}

.category,
.categoryReverse {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

  span {
    color: config.$black;
    margin: 0px 12px;
  }

  p {
    @include mixins.fourK {
      font-size: 3rem;
    }
    @include mixins.desktop {
      font-size: 2.5rem;
    }
    @include mixins.tablet {
      font-size: 2rem;
    }
    @include mixins.mobile {
      font-size: 1.5rem;
    }
  }

  .nav {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }

  .navActive {
    display: flex;
    align-items: center;
    color: config.$yellow;
  }
}

.categoryReverse {
  flex-direction: row;
}

.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: config.$white;

  h2 {
    margin-bottom: 20px;
  }

  .icon {
    display: flex;
    width: 100%;
    direction: rtl;
    cursor: pointer;
  }
}

.nextProject {
  border-top: 1px solid config.$lightgrey;
  padding-top: 100px;
  margin-top: 100px;
}
