@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  height: 100vh;

  .portal {
    margin: auto;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      width: 100%;
      padding: 0px 12px;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
  }

  .topBar {
    height: 100px;
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;

    .control {
      width: 65px;
      cursor: pointer;
      @include mixins.row-space-between-center();
      flex-direction: row-reverse;

      div {
        height: 20px;
      }
    }

    .profile {
      @include mixins.row-space-between-center();
      flex-direction: row-reverse;
      text-align: right;

      .image {
        position: relative;
        width: 65px;
        height: 65px;
        border-radius: 50px;
        margin-left: 30px;
      }
    }
  }

  .panel {
    display: flex;
    flex-direction: row-reverse;
    height: calc(100vh - 100px);
    max-height: 1200px !important;

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: config.$yellow;
      width: 65px;
      border-radius: 5px;

      .item,
      .itemActive {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: config.$white;
        width: 65px;
        height: 65px;
        border-radius: 5px;

        &:hover {
          background: config.$black;
          cursor: pointer;
        }

        p {
          font-size: small;
        }
      }

      .itemActive {
        background: config.$black;
      }
    }

    .board {
      margin-right: 30px;
      width: calc(100% - 95px);
    }
  }
}
