@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  .menu {
    height: 100px;
    @include mixins.row-space-between-center();

    .control {
      width: 100px;
      cursor: pointer;
      @include mixins.row-space-between-center();

      div {
        height: 20px;
      }
    }

    .profile {
      @include mixins.row-space-between-center();

      .image {
        position: relative;
        width: 65px;
        height: 65px;
        border-radius: 50px;
        margin-right: 30px;
      }
    }
  }

  .portal {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    max-height: 900px !important;

    .vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: config.$yellow;
      width: 65px;
      border-radius: 5px;

      .item,
      .itemActive {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: config.$white;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        &:hover {
          background: config.$black;
          cursor: pointer;
        }

        p {
          font-size: small;
        }
      }

      .itemActive {
        background: config.$black;
      }
    }

    .panel {
      border: 1px solid red;
      margin-left: 30px;
      width: calc(100% - 95px);
    }
  }
}
