@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: config.$black;
  margin-top: 150px;
  height: calc(100vh - 150px);

  button {
    @include mixins.button(config.$yellow, config.$black);
    margin: 20px auto;
  }

  .shareContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
  }
  .share {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .dynamicText {
    color: config.$yellow;
  }
}
