@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.types {
  width: 350px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 50px;
  height: 40px;
  border: 1px solid config.$lightgrey;
  text-transform: capitalize;
  @include mixins.row-space-between-center();
  justify-content: space-around;

  @include mixins.mobile {
    width: 100%;
  }

  .nav {
    font-weight: bold !important;

    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }

  .navActive {
    color: config.$yellow;
    font-weight: bold !important;
  }
}

.preview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .mediaContainer {
    position: relative;
    width: 100%;
    height: 300px;

    .media {
      width: 100%;
      height: 75%;

      object-fit: cover;
    }
  }

  .action {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    background: config.$white;
    z-index: 3;

    .input {
      input {
        @include mixins.input();
        height: 20px;
      }
    }
  }

  .title {
    position: relative;
    z-index: 3;
    background: config.$white;
  }
}
