@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.background {
  background-image: url("https://eshareh.storage.iran.liara.space/henkel/visual.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  direction: rtl;
  background: #981b1e;
  user-select: none;

  .text {
    position: relative;
    aspect-ratio: 16 / 4;
    height: 10px;
    scale: 8;
    margin-bottom: 50px;
  }
}

.logo {
  position: relative;
  aspect-ratio: 4 / 4;
  height: 300px;
}

.input {
  min-width: 30%;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    min-width: 50%;
  }
  @include mixins.tablet {
    min-width: 50%;
  }

  .label {
    display: flex;
    justify-content: center;
    color: config.$white;
    margin-bottom: 12px;
  }

  .alert {
    display: flex;
    justify-content: center;
    color: config.$white;
    margin-top: 24px;
  }

  select,
  input {
    @include mixins.input();
    width: 100%;
  }
}

.mapBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
  color: #981b1e;
  user-select: none;
  padding-top: 24px;

  .map {
    position: relative;
    aspect-ratio: 4 / 4;
    height: 45dvh;
    margin: 24px 0px;
  }

  .info {
    width: 100%;
    padding: 24px;
    color: #981b1e;
    background: config.$lightgrey;

    h2 {
      direction: rtl;
    }
  }

  button {
    @include mixins.button(#981b1e, config.$white);
    & {
      margin: 12px 0px;
      height: 50px;
    }
    @include mixins.allDesktop {
      &:hover {
        color: #981b1e;
      }
    }
  }
}

.statement {
  display: flex;
  flex-direction: column;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  direction: rtl;
  margin: 50px auto;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }

  .info {
    border-bottom: 1px solid config.$lightgrey;
    padding: 12px;

    p {
      margin: 8px 0px;
    }
  }
}
