@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  padding-bottom: 100px;
  max-width: config.$max-widthHeigh;
  height: calc(100dvh - 100px);
  max-height: 100%;
  overflow-y: auto;
}

.navigation {
  width: 450px;
  margin: 0px auto;
  margin-bottom: 12px;
  border-radius: 50px;
  height: 40px;
  border: 1px solid config.$lightgrey;
  text-transform: capitalize;
  @include mixins.row-space-between-center();
  justify-content: space-around;
  user-select: none;

  @include mixins.mobile {
    width: 100%;
    margin: 12px auto;
  }

  .nav {
    font-weight: bold !important;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$yellow;
      }
    }
  }

  .navActive {
    color: config.$yellow;
    font-weight: bold !important;
  }
}
