@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.gridDesktop,
.gridDesktopReverse {
  display: flex;
  flex-direction: row;
  height: 60vh;
  max-height: 600px;
  min-height: 400px;
  margin: 20px auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 30px;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  .hero {
    position: relative;
    width: 50%;
    margin-right: 20px;
    cursor: pointer;

    .details,
    .detailsReverse {
      height: 60px;
      text-align: right;
      direction: rtl;
    }

    .detailsReverse {
      text-align: left;
      direction: ltr;
    }
  }

  h4 {
    position: relative;
    top: 5px;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    cursor: pointer;

    .image {
      height: 100%;

      &:hover {
        @include mixins.background-anime();
        filter: none;
      }
    }

    .video {
      height: 100%;
      width: 100%;
      object-fit: cover;

      &:hover {
        filter: none;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    width: 50%;

    div {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      text-align: right;
      direction: rtl;
      cursor: pointer;

      .details,
      .detailsReverse {
        height: 60px;
        min-height: 20%;
      }

      .detailsReverse {
        text-align: left;
        direction: ltr;
      }

      .image {
        height: 100%;

        &:hover {
          @include mixins.background-anime();
          filter: none;
        }
      }

      .video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;

        &:hover {
          filter: none;
        }
      }
    }
  }
}

.gridDesktopReverse {
  flex-direction: row-reverse;

  .hero {
    margin-left: 20px;
    margin-right: 0px;
  }
}

.responsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px;
  margin: 20px auto;
  width: config.$content-width;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    width: calc(100% - 24px);
    margin: 0px auto;
    gap: 0px;
  }

  h4 {
    position: relative;
    top: 5px;
  }

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 300px;
    direction: rtl;
    cursor: pointer;

    .details,
    .detailsReverse {
      height: 60px;
      min-height: 20%;
    }

    .detailsReverse {
      text-align: left;
      direction: ltr;
    }

    .image {
      &:hover {
        @include mixins.background-anime();
        filter: none;
      }
    }

    .video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;

      &:hover {
        filter: none;
      }
    }
  }
}
