@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  height: 100%;
  border: 1px solid config.$lightgrey;
  border-radius: 5px;
  text-align: right;

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  @include mixins.fourK {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .navigation {
    position: relative;
    top: 0px;
    width: 100%;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid config.$lightgrey;
    @include mixins.row-space-between-center();

    .item,
    .itemActive {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &:hover {
        background: config.$lightgrey;
        color: config.$white;
        cursor: pointer;
      }
    }

    .itemActive {
      color: config.$yellow;
      border-bottom: 2px solid config.$yellow;
    }
  }

  .title {
    padding: 8px;
    border-bottom: 1px solid config.$lightgrey;
  }

  .chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0px;
    height: calc(100% - 40px);
    max-height: 1500px !important;

    @include mixins.tablet {
      height: 100%;
    }
    @include mixins.desktop {
      height: 100%;
    }
    @include mixins.fourK {
      height: 100%;
    }

    .input {
      @include mixins.row-space-between-center();
      height: 50px;
      padding: 8px;

      .sendIcon {
        display: flex;
        transform: scaleX(-1);
      }

      textarea {
        @include mixins.input();
        height: 50px;
        max-height: 50px;
        min-height: 50px;
        min-width: 90%;
        border-radius: 5px;
      }
    }

    .messages {
      display: flex;
      flex-direction: column-reverse;
      height: calc(100vh - 250px);
      max-height: 100%;
      overflow-y: auto;

      @include mixins.mobile {
        height: calc(100vh - 350px);
      }
      @include mixins.tabletPortrait {
        height: calc(100vh - 350px);
      }
      .message {
        padding: 4px 12px;
        border-bottom: 1px solid config.$lightgrey;
      }
    }
  }

  .file {
    padding: 12px;
    height: calc(100% - 40px);

    @include mixins.tablet {
      height: 100%;
      border-right: 1px solid config.$lightgrey;
    }
    @include mixins.desktop {
      height: 100%;
      border-right: 1px solid config.$lightgrey;
    }
    @include mixins.fourK {
      height: 100%;
      border-right: 1px solid config.$lightgrey;
    }
  }

  .group {
    padding: 12px;
    height: calc(100% - 40px);

    @include mixins.tablet {
      height: 100%;
      border-left: 1px solid config.$lightgrey;
    }
    @include mixins.desktop {
      height: 100%;
      border-left: 1px solid config.$lightgrey;
    }
    @include mixins.fourK {
      height: 100%;
      border-left: 1px solid config.$lightgrey;
    }
  }
}
