@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  height: 100%;
  border: 1px solid config.$lightgrey;
  border-radius: 5px;
  text-align: right;

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  @include mixins.fourK {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .navigation {
    position: relative;
    top: 0px;
    width: 100%;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid config.$lightgrey;
    @include mixins.row-space-between-center();

    .item,
    .itemActive {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &:hover {
        background: config.$lightgrey;
        color: config.$white;
        cursor: pointer;
      }
    }

    .itemActive {
      color: config.$yellow;
      border-bottom: 2px solid config.$yellow;
    }
  }

  .title {
    height: 50px;
    padding: 8px;
    border-bottom: 1px solid config.$lightgrey;
  }

  .chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0px;
    height: calc(100% - 40px);
    max-height: config.$max-widthHeigh !important;

    @include mixins.tablet {
      height: 100%;
    }
    @include mixins.desktop {
      height: 100%;
    }
    @include mixins.fourK {
      height: 100%;
    }

    .input {
      @include mixins.row-space-between-center();
      height: 50px;
      padding: 8px;

      .icon {
        display: flex;
        transform: scaleX(-1);
      }

      textarea {
        @include mixins.input();
        height: 50px;
        max-height: 50px;
        min-height: 50px;
        min-width: 88%;
        border-radius: 5px;
      }
    }

    .messageBox {
      display: flex;
      flex-direction: column-reverse;
      height: calc(100vh - 250px);
      max-height: 100%;
      overflow-y: auto;
      padding: 0px 12px;

      @include mixins.mobile {
        height: calc(100vh - 350px);
      }
      @include mixins.tabletPortrait {
        height: calc(100vh - 350px);
      }
      .message {
        padding: 8px;
        background: config.$backgroundgrey;
        margin: 4px 0px;
        border-radius: 5px;

        p {
          color: config.$black !important;
        }
      }
    }
  }

  .groupBox {
    padding: 12px;
    height: calc(100% - 40px);
    max-height: 100%;
    overflow-y: auto;

    @include mixins.mobile {
      height: calc(100vh - 200px);
    }
    @include mixins.tabletPortrait {
      height: calc(100vh - 200px);
    }
    @include mixins.tablet {
      height: 100%;
      border-left: 1px solid config.$lightgrey;
    }
    @include mixins.desktop {
      height: 100%;
      border-left: 1px solid config.$lightgrey;
    }
    @include mixins.fourK {
      height: 100%;
      border-left: 1px solid config.$lightgrey;
    }

    .group,
    .groupActive {
      @include mixins.row-space-between-center();
      margin-bottom: 8px;
      padding: 4px;
      border-radius: 5px;
      border: 1px solid config.$lightgrey;
      position: relative;

      &:hover {
        border: 1px solid config.$yellow;
        cursor: pointer;

        h4 {
          color: config.$yellow;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        min-width: 60%;

        p {
          color: config.$grey;
          font-size: small;
        }
        span {
          margin: 0px 4px;
        }
      }

      .indicators {
        @include mixins.row-space-between-center();
        width: 20%;
      }
    }

    .groupActive {
      border: 1px solid config.$yellow;
      h4 {
        color: config.$yellow;
      }
    }
  }

  .fileBox {
    padding: 12px;
    height: calc(100% - 40px);

    @include mixins.tablet {
      height: 100%;
      border-right: 1px solid config.$lightgrey;
    }
    @include mixins.desktop {
      height: 100%;
      border-right: 1px solid config.$lightgrey;
    }
    @include mixins.fourK {
      height: 100%;
      border-right: 1px solid config.$lightgrey;
    }
  }
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 12px;
  padding-bottom: 50px;
  background: config.$white;
  color: config.$black !important;
}
