@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.containerGrid,
.containerFloat {
  height: 100%;
  text-align: right;
  background: config.$white;
  border: 1px solid config.$lightgrey;
  @include mixins.border-radius(5px);

  .indocators {
    @include mixins.row-space-between-center();
  }

  .topBar {
    @include mixins.row-space-between-center();
    padding: 0px 12px;
    width: 100%;
    border-bottom: 1px solid config.$lightgrey;

    .row {
      @include mixins.row-space-between-center();
    }
  }

  .chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
    height: 100%;
    max-height: config.$max-widthHeigh !important;

    @include mixins.mobile {
      height: calc(100dvh - 160px);
    }
    @include mixins.tabletPortrait {
      height: calc(100dvh - 180px);
    }

    .input {
      @include mixins.row-space-between-center();
      padding: 4px 12px;

      .icon {
        display: flex;
        align-items: center;
        transform: scaleX(-1);
      }

      textarea {
        @include mixins.input();
        height: 50px;
        min-width: 80%;
        @include mixins.border-radius(5px);

        @include mixins.mobile {
          min-width: 75%;
        }
      }
    }

    .messageBox {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      padding: 12px;
      border-bottom: 1px solid config.$lightgrey;
      color: config.$black !important;

      .message,
      .senderMsg {
        margin: 4px 0px;
        padding: 8px;
        background: config.$generalMessage;
        @include mixins.border-radius(5px);

        .row {
          @include mixins.row-space-between-center();
          flex-direction: row-reverse;
          margin-bottom: 4px;

          .title {
            margin: 0px 8px;
          }

          p {
            font-size: small;
          }
        }

        .content {
          color: config.$black !important;
          direction: rtl;
        }

        .indicators {
          @include mixins.row-space-between-center();
          width: fit-content;
          cursor: pointer;
        }
      }

      .senderMsg {
        background: config.$senderMessage;
      }

      .image {
        position: relative;
        width: 35px;
        height: 35px;
        @include mixins.border-radius(50px);
      }

      .status {
        position: relative;
        right: 22px;
        top: 22px;
      }
    }
  }

  .groupBox {
    padding: 12px;
    max-height: 100%;
    overflow-y: auto;

    @include mixins.mobile {
      height: calc(100dvh - 155px);
    }
    @include mixins.tabletPortrait {
      height: calc(100dvh - 190px);
    }

    .group,
    .groupActive {
      margin-bottom: 8px;
      padding: 8px;
      border: 1px solid config.$lightgrey;
      @include mixins.border-radius(5px);

      &:hover {
        border: 1px solid config.$yellow;
        cursor: pointer;
      }

      .row {
        @include mixins.row-space-between-center();

        p {
          font-size: small;
        }
      }

      .indicator {
        position: relative;
        @include mixins.row-space-between-center();

        .notification {
          position: absolute;
          left: 20px;
          top: 0px;
        }
      }
    }

    .groupActive {
      border: 1px solid config.$yellow;
    }
  }

  .documentBox {
    padding: 12px;
    max-height: 100%;
    overflow-y: auto;

    @include mixins.mobile {
      height: calc(100dvh - 155px);
    }
    @include mixins.tabletPortrait {
      height: calc(100dvh - 190px);
    }

    .document {
      margin-bottom: 8px;
      padding: 8px;
      text-align: left;
      border: 1px solid config.$lightgrey;
      @include mixins.border-radius(5px);

      &:hover {
        border: 1px solid config.$yellow;
      }

      .row {
        @include mixins.row-space-between-center();
        margin-bottom: 8px;
      }

      p {
        font-size: small;
      }
    }
  }
}

.containerGrid {
  background: none;

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1.1fr 2fr 1.1fr;
  }
  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1.1fr 2fr 1.1fr;
  }
  @include mixins.fourK {
    display: grid;
    grid-template-columns: 1.1fr 2fr 1.1fr;
  }

  .chat {
    @include mixins.desktop {
      height: calc(100dvh - 102px);
    }
    @include mixins.tablet {
      height: calc(100dvh - 102px);
    }
  }

  .groupBox {
    @include mixins.tablet {
      border-left: 1px solid config.$lightgrey;
    }
    @include mixins.desktop {
      border-left: 1px solid config.$lightgrey;
    }
    @include mixins.fourK {
      border-left: 1px solid config.$lightgrey;
    }
  }

  .documentBox {
    @include mixins.tablet {
      border-right: 1px solid config.$lightgrey;
    }
    @include mixins.desktop {
      border-right: 1px solid config.$lightgrey;
    }
    @include mixins.fourK {
      border-right: 1px solid config.$lightgrey;
    }
  }
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100dvh;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 12px;
  padding-bottom: 50px;
  background: config.$white;
  color: config.$black !important;
}
