@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: relative;
  height: calc(100vh - 100px);
  max-height: config.$max-widthHeigh;
  max-width: config.$max-widthHeigh;
  margin: auto;

  @include mixins.mobile {
    height: 400px;
  }

  .mediaContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    max-height: config.$max-widthHeigh;
    cursor: pointer;

    @include mixins.mobile {
      height: 400px;
    }

    .video {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image {
    cursor: pointer;
  }

  .progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
  }
}

.rightArrow,
.leftArrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: config.$white;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}

.leftArrow {
  left: 20px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.active {
  opacity: 1;
  transition-duration: 1s ease;
}

.information,
.informationReverse {
  @include mixins.row-space-between-center();
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: config.$content-width;
  text-align: left;
  color: config.$white;
  cursor: pointer;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .loader {
    @include mixins.row-space-between-center();
    span {
      font-size: 27px !important;
      margin: 12px;
      @include mixins.mobile {
        font-size: 19px !important;
      }
    }
  }
}

.information {
  flex-direction: row-reverse;
  text-align: right;
}
