@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: relative;
  margin: auto;

  .media {
    position: relative;
    width: 100%;
    height: calc(100dvh - 100px);
    cursor: pointer;

    @include mixins.mobile {
      height: 400px;
    }
  }

  .video {
    width: 100%;
    height: calc(100dvh - 100px);
    object-fit: cover;
  }

  .progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
  }
}

.information,
.informationReverse {
  @include mixins.row-space-between-center();
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: left;
  color: config.$white;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  cursor: pointer;
  height: 50px;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  h3 {
    max-width: 1000px;
  }

  .loader {
    @include mixins.row-space-between-center();
    position: fixed;
    right: 0px;
    width: fit-content;

    span {
      font-size: 27px !important;
      margin: 12px;
      @include mixins.mobile {
        font-size: 19px !important;
      }
    }
  }
}

.information {
  flex-direction: row-reverse;
  text-align: right;

  .loader {
    left: 0px;
  }
}
