@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.footer {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 100px;
  margin-bottom: 20px;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column-reverse;
  }
}

.container {
  display: flex;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .logo {
    cursor: pointer;
  }
}

.navigation,
.navigationReverse {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  width: 180px;
  position: relative;
  left: 20px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    direction: rtl;
    left: 0px;
  }

  .nav {
    font-size: config.$tiny-font;
    cursor: pointer;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      justify-content: center;
      margin: 4px 0px;
    }

    &:hover {
      color: config.$yellow;
      font-weight: bold;
    }
  }

  .navActive {
    font-size: config.$tiny-font;
    color: config.$yellow;
    font-weight: bold;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      justify-content: center;
      margin: 4px 0px;
    }
  }
}

.navigationReverse {
  width: 220px;
}

.button {
  @include mixins.button(config.$yellow, config.$black);
  position: relative;
  z-index: 2;
  width: 80px;
  height: 30px;
  margin-right: 35px;

  @include mixins.mobile {
    margin: 30px 0px;
  }
}

.social {
  margin-right: 20px;

  &:hover {
    color: config.$yellow;
  }
}

.copyright {
  font-size: config.$tiny-font;
  color: config.$grey;
}

.musetech {
  display: flex;
  align-items: center;
  font-size: config.$tiny-font;
  color: config.$grey;
  cursor: pointer;

  .text {
    margin: 0px 8px;
  }
}
