@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
  }
  @include mixins.tablet {
    width: 100%;
  }
}

.image {
  height: calc(100vh - 180px);
}

.progress {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
