@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  align-items: center;
  text-align: center;
}

.imageBox {
  position: relative;
  height: 100%;
  cursor: pointer;
  width: 100%;
}

.rightArrow {
  position: absolute;
  height: 100%;
  right: 20px;
  font-size: 2.5rem;
  color: config.$black;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  height: 100%;
  left: 20px;
  font-size: 2.5rem;
  color: config.$black;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}
