@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
  }
  @include mixins.tablet {
    width: 100%;
  }
}

.swiper {
  @include mixins.mobile {
    margin-top: 100px;
  }
}

.image {
  height: calc(100vh - 180px);

  @include mixins.mobile {
    height: 300px;
  }
}

.video {
  width: 100%;
  height: calc(100vh - 180px);
  object-fit: cover;

  @include mixins.mobile {
    height: 300px;
  }
}

.progress {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
