@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: relative;
  height: 100vh;

  @include mixins.mobile {
    height: 600px;
  }
}

.rightArrow {
  position: absolute;
  height: 100%;
  right: 20px;
  font-size: 2.5rem;
  color: config.$white;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  height: 100%;
  left: 20px;
  font-size: 2.5rem;
  color: config.$white;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.active {
  opacity: 1;
  transition-duration: 1s ease;
}

.information {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: config.$content-width;
  text-align: right;
  color: config.$white;

  h1 {
    margin-bottom: 12px;
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.count {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  color: config.$white;
}
