@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: relative;
  height: calc(100vh - 80px);

  @include mixins.mobile {
    height: 600px;
  }

  .mediaContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    cursor: pointer;

    @include mixins.mobile {
      height: 600px;
    }

    .video {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image {
    cursor: pointer;
  }
}

.rightArrow {
  position: absolute;
  height: 100%;
  right: 20px;
  font-size: 2.5rem;
  color: config.$white;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  height: 100%;
  left: 20px;
  font-size: 2.5rem;
  color: config.$white;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.active {
  opacity: 1;
  transition-duration: 1s ease;
}

.information {
  @include mixins.row-space-between-center();
  flex-direction: row-reverse;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: config.$content-width;
  text-align: right;
  color: config.$white;
  cursor: pointer;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .loader {
    @include mixins.row-space-between-center();
  }
}
