@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: config.$content-width;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: 100%;
  }

  @include mixins.tablet {
    width: 100%;
  }

  @include mixins.desktop {
    padding: 12px 0px;
  }

  .logo {
    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.largeMenu {
  width: 100%;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    padding: 0px 12px;
    width: 100%;
  }

  .largeNavigation {
    width: 40%;
    @include mixins.row-space-between-center();

    @include mixins.tablet {
      width: 50%;
    }
  }
}

.nav {
  color: config.$white;
  font-size: config.$big-font;

  @include mixins.desktop {
    &:hover {
      cursor: pointer;
      color: config.$white;
    }
  }
}

.nav::after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.3s;
}

.nav:hover::after {
  width: 100%;
}

.navActive {
  font-size: config.$big-font;
  color: config.$yellow;
}

.smallMenu {
  width: 100%;

  @include mixins.desktop {
    display: none;
  }

  .menuIcon {
    background: config.$yellow;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .topBar {
    width: 100%;
    padding: 12px;
    @include mixins.row-space-between-center();
  }

  .menuMobile {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    width: 100%;
    padding: 12px;
    @include mixins.transparentBackground(0.5, config.$white);
    box-shadow: config.$card-shadow;

    p {
      padding: 8px 0px;
      color: config.$black;
    }

    @include mixins.desktop {
      display: none;
    }
  }
}
