@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: 100%;
  border-bottom: 1px solid config.$lightgrey;
  max-width: config.$max-widthHeigh;

  @include mixins.row-space-between-center();

  .logoContainer,
  .logoContainerReverse {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;

    .colorPicker {
      position: absolute;
      right: 200px;
      top: 0px;
    }
  }

  .logoContainerReverse {
    flex-direction: row;

    .colorPicker {
      left: 200px;
    }
  }

  .logo {
    position: relative;
    height: 45px;
    width: 150px;

    .image {
      cursor: pointer;
    }
  }
}

.largeMenu,
.largeMenuReverse {
  margin: auto;
  position: relative;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  @include mixins.row-space-between-center();

  .largeNavigation {
    width: 35%;
    @include mixins.row-space-between-center();
  }
}

.menuWrapper,
.menuWrapperReverse {
  @include mixins.row-space-between-center();

  .languageControl {
    margin: 0px 20px;
  }
}

.languageControl {
  background: config.$black;
  color: config.$white;
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 28px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.menuWrapperReverse {
  flex-direction: row-reverse;
}

.largeMenuReverse {
  flex-direction: row-reverse;
}

.nav {
  font-size: config.$small-font;
  @include mixins.row-space-between-center();
  justify-content: right;

  @include mixins.desktop {
    &:hover {
      cursor: pointer;
    }
  }
}

.navActive {
  font-size: config.$small-font;
  color: config.$yellow;
  font-weight: bold;
  @include mixins.row-space-between-center();
  justify-content: right;
}

.smallMenu {
  margin: auto;
  width: config.$content-width;

  @include mixins.mobile {
    width: 100%;
  }

  .topBar,
  .topBarReverse {
    width: 100%;
    padding: 12px;
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;

    .logoContainer,
    .logoContainerReverse {
      @include mixins.row-space-between-center();
      flex-direction: row-reverse;
    }

    .logoContainerReverse {
      flex-direction: row;
    }
  }

  .topBarReverse {
    flex-direction: row;
  }

  .menuMobile {
    position: fixed;
    width: 100%;
    padding: 12px;
    background: config.$yellow;
    box-shadow: config.$card-shadow;

    .menuItems {
      width: 100%;
      @include mixins.row-space-between-center();
      justify-content: space-around;
    }

    a {
      padding: 8px 0px;
      color: config.$black;
    }
  }
}
