@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: 100%;
  @include mixins.row-space-between-center();

  .logoContainer,
  .logoContainerReverse {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;

    .colorPicker {
      position: absolute;
      right: 220px;
      top: 0px;
    }

    .textPicker {
      position: absolute;
      right: 220px;
      top: 0px;
    }
  }

  .logoContainerReverse {
    flex-direction: row;

    .colorPicker {
      left: 220px;
    }

    .textPicker {
      left: 220px;
    }
  }

  .logo {
    position: relative;
    height: 45px;
    width: 150px;

    .image {
      cursor: pointer;
    }
  }

  .profileContainer {
    position: absolute;
    right: 50px;
    font-size: config.$tiny-font;
    cursor: pointer;

    &:hover {
      color: config.$yellow;
    }

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .dropDown {
    position: absolute;
    right: 10px;
    top: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background: config.$white;
    border-radius: 4px;
    font-size: config.$tiny-font;
    box-shadow: config.$image-shadow;
    border: 1px solid config.$yellow;

    p {
      margin: 5px 10px;
      cursor: pointer;

      &:hover {
        color: config.$yellow;
      }
    }
  }
}

.largeMenu,
.largeMenuReverse {
  margin: auto;
  position: relative;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  @include mixins.row-space-between-center();

  .largeNavigation {
    width: 50%;
    max-width: 600px;
    @include mixins.row-space-between-center();
  }
}

.menuWrapper {
  @include mixins.row-space-between-center();
  .languageControl {
    margin-right: 20px;
  }
}
.menuWrapperReverse {
  @include mixins.row-space-between-center();
  .languageControl {
    margin-left: 20px;
  }
}

.languageControl {
  background: config.$black;
  color: config.$white;
  display: flex;
  justify-content: center;
  width: 25px;
  border-radius: 4px;
  font-size: config.$tiny-font;
  cursor: pointer;

  @include mixins.desktop {
    &:hover {
      background: config.$yellow;
      color: config.$black;
    }
  }
}

.menuWrapperReverse {
  flex-direction: row-reverse;
}

.largeMenuReverse {
  flex-direction: row-reverse;
}

.nav {
  font-size: config.$tiny-font;
  cursor: pointer;
  font-weight: bold;
  @include mixins.row-space-between-center();

  &:hover {
    color: config.$yellow;
  }
}

.navActive {
  font-size: config.$tiny-font;
  color: config.$yellow;
  font-weight: bold;
  cursor: pointer;
  @include mixins.row-space-between-center();
}

.smallMenu {
  margin: auto;
  width: config.$content-width;

  @include mixins.mobile {
    width: 100%;
  }

  .topBar,
  .topBarReverse {
    width: 100%;
    height: 100px;
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;

    @include mixins.mobile {
      padding: 12px;
    }

    .logoContainer,
    .logoContainerReverse {
      @include mixins.row-space-between-center();
      flex-direction: row-reverse;
    }

    .logoContainerReverse {
      flex-direction: row;
    }
  }

  .topBarReverse {
    flex-direction: row;
  }

  .menuMobile {
    position: fixed;
    padding: 12px;
    box-shadow: config.$card-shadow;
    width: config.$content-width;
    @include mixins.transparentBackground(0.95, config.$yellow);

    @include mixins.mobile {
      width: 100%;
    }

    .menuItems {
      @include mixins.tablet {
        @include mixins.row-space-between-center();
        justify-content: space-around;
        flex-direction: row-reverse;
      }
      @include mixins.mobile {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        direction: rtl;
      }
    }
    .menuItemsReverse {
      @include mixins.tablet {
        @include mixins.row-space-between-center();
        justify-content: space-around;
      }
      @include mixins.mobile {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        direction: ltr;
      }
    }
    a {
      padding: 8px 0px;
      color: config.$black;
      width: fit-content;
    }
  }
}
