@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  height: 300px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
