@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  width: 100%;
  position: relative;
  cursor: pointer;

  .information,
  .informationReverse {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    width: 100%;
    text-align: right;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
    }

    h2 {
      color: config.$yellow;
    }
  }

  .description {
    max-width: 600px;
  }

  .informationReverse {
    direction: rtl;
    text-align: left;
  }

  .imageBox {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 200px;
    margin-top: 50px;

    @include mixins.mobile {
      height: 100px;
    }

    .video {
      position: absolute;
      width: 100%;
      height: 200px;
      object-fit: cover;

      @include mixins.mobile {
        height: 100px;
      }
    }
  }

  .text {
    position: absolute;
    top: -80px;
    left: 0px;
    color: config.$black;
  }
}
