@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  width: 100%;
  position: relative;
  cursor: pointer;

  .information,
  .informationReverse {
    width: 100%;
    text-align: right;

    h3 {
      color: config.$grey;
      margin-bottom: 50px;
    }

    .description {
      display: flex;
      flex-direction: row-reverse;

      .seperation {
        color: config.$grey;
        margin: 0px 10px;
      }
    }

    .brief {
      position: relative;
      top: 2px;
    }

    .text {
      direction: rtl;
    }
  }

  .informationReverse {
    direction: rtl;
    text-align: left;

    .text {
      direction: ltr;
    }
  }

  .imageBox {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 200px;
    margin-top: 50px;

    @include mixins.mobile {
      height: 100px;
    }

    .video {
      position: absolute;
      width: 100%;
      height: 200px;
      object-fit: cover;

      @include mixins.mobile {
        height: 100px;
      }
    }
  }

  .next {
    position: absolute;
    top: -80px;
    left: 0px;
    color: config.$black;
  }
}
