@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.navigation {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  height: 40px;
  border-bottom: 1px solid config.$lightgrey;
  text-transform: capitalize;
  @include mixins.row-space-between-center();
  justify-content: space-around;

  @include mixins.mobile {
    width: 100%;
  }

  .nav {
    font-weight: bold !important;

    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }

  .navActive {
    color: config.$yellow;
    font-weight: bold !important;
  }
}
