@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  user-select: none;

  .button {
    @include mixins.button(config.$yellow, config.$white);
    & {
      margin: 24px auto;
    }
    &:hover {
      background: config.$white;
      color: config.$yellow;
    }
  }
}

.navigation {
  width: 35%;
  margin: 12px auto;
  border-radius: 50px;
  height: 40px;
  border: 1px solid config.$lightgrey;
  text-transform: capitalize;
  @include mixins.row-space-between-center();
  justify-content: space-around;
  user-select: none;

  @include mixins.mobile {
    width: 100%;
  }

  .nav {
    font-weight: bold !important;
    font-size: small;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$yellow;
      }
    }
  }

  .navActive {
    color: config.$yellow;
    font-weight: bold !important;
  }
}

.vcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100dvh;
  background: config.$yellowShade;
  color: config.$black !important;

  @include mixins.mobile {
    width: 100%;
  }

  .card {
    position: relative;
    margin-top: 24px;

    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.input {
  width: 35%;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
  }

  input {
    @include mixins.input();
    width: 100%;
  }

  .bar {
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
  }

  .label {
    color: config.$grey;
  }

  .alert {
    margin: 8px 0px;
    color: config.$red;
  }
}
