@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-weight: 300;

  .input {
    margin: 12px;
  }

  .bar,
  .barReverse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
  }
  .barReverse {
    flex-direction: row-reverse;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;

    span {
      color: config.$red;
      font-size: config.$tiny-font;
    }
  }

  textarea,
  input {
    @include mixins.input();
    width: 100%;
  }

  textarea {
    height: 200px;
    max-width: 100%;
    min-width: 100%;
  }

  @include mixins.mobile {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: config.$big-font;
    font-weight: bold;
    height: 30px;
  }
}

.formAction {
  margin: 12px;
  width: 50%;
  button {
    @include mixins.button(config.$yellow, config.$black);
    margin: 20px auto;
  }
}
