@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 8px;
  height: calc(100dvh - 100px);
  max-height: config.$max-widthHeigh !important;

  direction: rtl;

  .column {
    padding: 12px;
    border: 1px solid config.$lightgrey;
    @include mixins.border-radius(5px);
    max-height: 100%;
    overflow-y: auto;

    .topBar {
      @include mixins.row-space-between-center();
      width: 100%;
      border-bottom: 1px solid config.$lightgrey;
      padding-bottom: 4px;

      h3 {
        margin-left: 8px;
      }
    }
  }

  .row {
    @include mixins.row-space-between-center();
  }

  .project {
    position: relative;
    padding: 8px;
    margin: 8px 0px;
    background: config.$generalMessage;
    color: config.$black !important;
    @include mixins.border-radius(5px);

    .row {
      h4 {
        width: 90%;
      }
      p {
        font-size: small;
        margin: 0px 4px;
      }
    }

    .description {
      margin: 8px 0px;
      font-size: small;
      text-align: justify;
    }

    .progress {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      direction: ltr;
    }
  }
}

.taskCard {
  width: 100%;
  padding: 8px;
  margin: 8px 0px;
  color: config.$black !important;
  background: config.$generalMessage;
  @include mixins.border-radius(5px);

  .description {
    margin: 8px 0px;
    font-size: small;
    text-align: justify;
  }

  .projectTitle {
    font-size: small;
    margin-bottom: 8px;
    color: config.$grey;
  }

  .row {
    p {
      font-size: small;
      margin: 0px 4px;
    }
  }
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100dvh;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 12px;
  padding-bottom: 50px;
  background: config.$white;
  color: config.$black !important;
}
