@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 8px;
  height: calc(100dvh - 100px);
  max-height: config.$max-widthHeigh !important;

  direction: rtl;

  .column {
    padding: 12px;
    border: 1px solid config.$lightgrey;
    @include mixins.border-radius(5px);
    max-height: 100%;
    overflow-y: auto;

    .topBar {
      @include mixins.row-space-between-center();
      width: 100%;
      border-bottom: 1px solid config.$lightgrey;
      padding-bottom: 4px;

      h3 {
        margin-left: 8px;
      }
    }
  }

  .row {
    @include mixins.row-space-between-center();
  }

  .project {
    position: relative;
    padding: 8px;
    margin: 8px 0px;
    border: 1px solid config.$lightgrey;
    @include mixins.border-radius(5px);

    &:hover {
      border: 1px solid config.$yellowShade;
      background: config.$yellowShade;
      color: config.$black !important;
    }

    .row {
      margin-bottom: 8px;

      h4 {
        width: 90%;
      }
    }

    .indicator {
      @include mixins.row-space-between-center();

      p {
        font-size: small;
        margin: 0px 4px;
      }
    }

    .description {
      margin: 8px 0px;
      font-size: small;
      text-align: justify;
    }

    .progress {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      direction: ltr;
    }
  }
}

.taskCard {
  width: 100%;
  padding: 8px;
  margin: 8px 0px;
  color: config.$black !important;
  background: config.$generalMessage;
  @include mixins.border-radius(5px);

  .indicator {
    @include mixins.row-space-between-center();
    transform: scaleX(-1);
  }

  .description {
    margin: 8px 0px;
    font-size: small;
    text-align: justify;
  }

  .projectTitle {
    font-size: small;
    margin-bottom: 8px;
    color: config.$grey;
  }

  .row {
    p {
      font-size: small;
      margin: 0px 4px;
    }
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 8px;

  .indicator {
    margin-top: 8px;
    @include mixins.row-space-between-center();

    input {
      @include mixins.input();
      height: 40px;
    }
  }

  .topBar {
    width: 70%;
    background: config.$generalMessage;
    padding: 0px 8px;
    margin-bottom: 12px;
    @include mixins.border-radius(5px);
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
  }

  .row {
    @include mixins.row-space-between-center();
  }

  .note {
    color: config.$grey;
    margin-top: 12px;
  }

  .description {
    width: 70%;
    text-align: right;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
  }

  .taskBox {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 8px;
    margin-top: 24px;
    direction: rtl;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
  }

  .task {
    padding: 8px;
    background: config.$generalMessage;
    height: fit-content;
    @include mixins.border-radius(5px);

    .row {
      @include mixins.row-space-between-center();
      margin: 8px 0px;

      .description {
        width: 100%;
        margin: 0px;
      }

      .priority {
        width: fit-content;
        padding: 2px 8px;
        color: config.$white;
        @include mixins.border-radius(5px);
        user-select: none;
      }
    }
  }

  .image {
    position: relative;
    width: 35px;
    height: 35px;
    @include mixins.border-radius(50px);
  }
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100dvh;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 12px;
  padding-bottom: 50px;
  background: config.$white;
  color: config.$black !important;
}
