@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.languageType {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 12px;
}

.input {
  margin: 12px 0px;

  select,
  textarea,
  input {
    @include mixins.input();
    width: 100%;
  }
}

.bar,
.barReverse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}
.barReverse {
  flex-direction: row-reverse;
}

.label {
  color: config.$grey;
  font-size: config.$small-font;

  span {
    color: config.$red;
    font-size: config.$tiny-font;
  }
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.formAction {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  width: 100%;
  text-align: center;

  button {
    @include mixins.button(config.$yellow, config.$black);
    margin: auto;
  }

  .alert {
    margin: 16px 0px;
    color: config.$red;
  }
}
