@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  color: config.$black;
  margin-top: 150px;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }

  @include mixins.tablet {
    width: 100%;
    padding: 0px 12px;

    width: config.$content-widthTablet;
  }

  .information,
  .informationReverse {
    direction: rtl;
    margin-bottom: 20px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 5px 0px;

      h3 {
        margin: 0px 10px;
      }
    }
  }

  .informationReverse {
    direction: ltr;
  }

  .image {
    position: relative;
    margin: auto;
    height: 700px;

    @include mixins.mobile {
      height: 400px;
    }
  }
}
