@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  color: config.$black;
  margin-top: 150px;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }

  @include mixins.tablet {
    width: 100%;
    padding: 0px 12px;

    width: config.$content-widthTablet;
  }

  .information,
  .informationReverse {
    direction: rtl;
    margin-bottom: 20px;
    text-align: justify;
  }

  .informationReverse {
    direction: ltr;
  }

  .image {
    position: relative;
    margin: auto;
    height: 1500px;

    @include mixins.desktop {
      height: 1200px;
    }
    @include mixins.mobile {
      width: calc(100% - 12px);
      height: 400px;
    }
    @include mixins.tablet {
      width: calc(100% - 12px);
      height: 900px;
    }
  }
}
