@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  color: config.$black;
  margin-top: 150px;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  .information,
  .informationReverse {
    direction: rtl;
    margin-bottom: 20px;

    .row,
    .rowReverse {
      display: flex;

      .icon {
        margin-top: 9px;
        margin-left: 5px;
      }
    }

    .rowReverse {
      .icon {
        margin-top: 13px;
        margin-right: 5px;
      }
    }
  }

  .informationReverse {
    direction: ltr;
  }

  .image {
    position: relative;
    margin: auto;
    height: 700px;

    @include mixins.mobile {
      height: 400px;
    }
  }
}
