@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.inputSearch,
.inputSearchReverse {
  @include mixins.row-space-between-center();

  input {
    @include mixins.input();
    width: 100%;
    margin: 0px 20px;
  }

  input::placeholder {
    color: config.$lightgrey;
  }

  .action {
    font-size: config.$big-font;
    color: config.$grey;

    &:hover {
      cursor: pointer;
      color: config.$black;
    }
  }
}

.inputSearchReverse {
  flex-direction: row-reverse;
}
