@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.inputSearch,
.inputSearchReverse {
  @include mixins.row-space-between-center();

  input {
    @include mixins.input();
    width: 100%;
    margin: 0px 20px;
    border: none;
    border-bottom: 1px solid config.$lightgrey;
  }

  input::placeholder {
    color: config.$lightgrey;
  }

  .action {
    font-size: config.$big-font;
    color: config.$grey;

    &:hover {
      cursor: pointer;
      color: config.$black;
    }
  }
}

.inputSearchReverse {
  flex-direction: row-reverse;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  direction: rtl;
  margin-top: 50px;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .project {
    cursor: pointer;
    color: config.$grey;
    position: relative;

    &:hover {
      color: config.$black;
    }

    .title,
    .titleReverse {
      display: flex;
      flex-direction: row;
    }

    .titleReverse {
      flex-direction: row-reverse;
    }
  }

  .box {
    position: relative;
    width: 100%;
    height: 220px;
    margin: 12px 0px;

    .video {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
  }
}
