@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }

  p {
    @include mixins.allDesktop {
      font-size: 1.1rem;
    }
  }
}

.newsCover {
  direction: rtl;
}
.newsCover,
.newsCoverReverse {
  width: 100%;
  margin-bottom: 50px;

  @include mixins.mobile {
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: 36px;
  }
  h2 {
    margin-top: 16px;
  }

  .video {
    width: 100%;
  }

  .coverBox {
    user-select: none;

    @include mixins.allDesktop {
      cursor: pointer;
      &:hover {
        h2 {
          color: config.$yellow;
        }
      }
    }
  }

  .cover {
    display: flex;
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 50%;

      @include mixins.mobile {
        padding-top: 60%;
      }
    }

    .video {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .visibility {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
    }
  }
}

.singleNews {
  direction: rtl;
}
.singleNews,
.singleNewsReverse {
  width: 100%;
  margin-bottom: 50px;

  @include mixins.mobile {
    margin-bottom: 20px;
  }

  h1 {
    color: config.$yellow;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: config.$grey;
    margin-bottom: 36px;
    width: fit-content;
    user-select: none;

    .date {
      display: flex;
      justify-content: flex-end;
      direction: ltr;
    }

    .gap {
      margin: 0px 8px;
    }
  }

  .voice {
    width: 100%;
    margin-bottom: 12px;
  }

  .cover {
    display: flex;
    position: relative;
    margin-bottom: 36px;

    .image {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    .video {
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    &::before {
      content: "";
      display: block;
      padding-top: 50%;

      @include mixins.mobile {
        padding-top: 60%;
      }
    }
  }

  .paragraph {
    margin-bottom: 8px;
  }
}

.table {
  width: fit-content;
  margin-bottom: 24px;
  color: config.$grey;
  user-select: none;

  .main {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mixins.allDesktop {
      cursor: pointer;
      &:hover {
        color: config.$yellow;
      }
    }
  }

  .list {
    li {
      @include mixins.allDesktop {
        cursor: pointer;
        &:hover {
          color: config.$yellow;
        }
      }
    }
  }
}

.paragraphs {
  margin-bottom: 12px;
}

.gridList {
  direction: rtl;
}
.gridList,
.gridListReverse {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 16px;
  width: 100%;
  user-select: none;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .item {
    cursor: pointer;
    position: relative;

    @include mixins.allDesktop {
      cursor: pointer;
      &:hover {
        h2 {
          color: config.$yellow;
        }
      }
    }

    h2 {
      margin-top: 16px;
    }

    .visibility {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
    }
  }

  .box {
    display: flex;
    position: relative;

    .video {
      width: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      display: block;
      padding-top: 60%;
    }
  }
}

.similar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  direction: rtl;
  gap: 16px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: 50px auto;
  border-top: 1px solid config.$lightgrey;
  padding-top: 50px;

  @include mixins.mobile {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }

  .cover {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    width: 100%;
    user-select: none;

    @include mixins.allDesktop {
      cursor: pointer;
      &:hover {
        h3 {
          color: config.$yellow;
        }
      }
    }

    .keywords {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;

      p {
        color: config.$grey;
        margin-left: 12px;
      }
    }

    @include mixins.fourK {
      height: 40vh;
      max-height: 500px;
    }
    @include mixins.mobile {
      height: 350px;
    }

    .video {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h3 {
      margin-top: 8px;
    }
  }
}
