@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin-top: 150px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
}

.newsCover {
  direction: rtl;
}
.newsCover,
.newsCoverReverse {
  width: 100%;
  margin-bottom: 50px;

  @include mixins.mobile {
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: 36px;
  }

  h3 {
    margin-top: 16px;
    color: config.$grey;
  }

  .video {
    width: 100%;
  }

  .coverBox {
    user-select: none;

    @include mixins.allDesktop {
      cursor: pointer;
      &:hover {
        h3 {
          color: config.$black;
        }
      }
    }
  }

  .cover {
    display: flex;
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 50%;

      @include mixins.mobile {
        padding-top: 60%;
      }
    }

    .visibility {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
    }
  }
}

.singleNews {
  direction: rtl;
}
.singleNews,
.singleNewsReverse {
  width: 100%;
  margin-bottom: 50px;

  @include mixins.mobile {
    margin-bottom: 20px;
  }

  h1 {
    color: config.$yellow;
  }

  .info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: config.$grey;
    margin-bottom: 36px;
  }

  .date {
    display: flex;
    justify-content: flex-end;
    direction: ltr;
  }

  .voice {
    width: 100%;
    margin-bottom: 12px;
  }

  .cover {
    display: flex;
    position: relative;
    margin-bottom: 36px;

    .image {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    .video {
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    &::before {
      content: "";
      display: block;
      padding-top: 50%;

      @include mixins.mobile {
        padding-top: 60%;
      }
    }
  }

  .paragraph {
    margin-bottom: 8px;
  }
}

.controlPanel,
.dropDown {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-radius: 50px;
  box-shadow: config.$image-shadow;
  background: config.$white;
  user-select: none;

  @include mixins.mobile {
    width: 40%;
  }
  @include mixins.tablet {
    width: 25%;
  }
}

.dropDown {
  top: 190px;
  flex-direction: column;
  height: 80px;
  border-radius: 4px;

  .confirm {
    color: config.$green;
    cursor: pointer;
  }
  .cancel {
    color: config.$red;
    cursor: pointer;
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

.gridList {
  direction: rtl;
}
.gridList,
.gridListReverse {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 16px;
  width: 100%;
  user-select: none;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .item {
    cursor: pointer;
    color: config.$grey;
    position: relative;

    @include mixins.allDesktop {
      &:hover {
        color: config.$black;
      }
    }

    .title,
    .titleReverse {
      margin-top: 16px;
    }
    .titleReverse {
      direction: ltr;
    }

    .visibility {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
    }
  }

  .box {
    display: flex;
    position: relative;

    .video {
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      padding-top: 60%;
    }
  }
}
