@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: 100%;
  height: 100dvh;
  direction: rtl;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;

  .backgroundVideo {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .videoWrapper {
    display: flex;
    width: 50%;

    @include mixins.mobile {
      width: 100%;
    }
    @include mixins.tabletPortrait {
      width: 100%;
    }
  }

  .video {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .information {
    width: 100%;
    color: config.$white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.mobile {
      padding: 0px 12px;
      margin-bottom: 15vh;
    }
    @include mixins.tabletPortrait {
      padding: 0px 12px;
    }

    $h1-h3-ratio: 0.2;
    .action {
      text-align: center;
      color: config.$white;
      @include mixins.glass-effect();
      background: config.$yellow;
      padding: 12px;
      border-radius: 8px;
      margin: 3vh 0px;
      width: 50%;

      @include mixins.mobile {
        width: 100%;
      }
      @include mixins.tabletPortrait {
        width: 80%;
      }

      p {
        font-size: 7vw * $h1-h3-ratio;

        @include mixins.mobile {
          font-size: 21vw * $h1-h3-ratio;
        }
        @include mixins.tabletPortrait {
          font-size: 16vw * $h1-h3-ratio;
        }
        @include mixins.tablet {
          font-size: 10vw * $h1-h3-ratio;
        }
      }
    }

    h1 {
      font-size: 6vw;
      text-align: center;
      text-shadow: 0.3vw 0.3vw 0.4vw rgba(0, 0, 0, 0.2);

      @include mixins.mobile {
        font-size: 16vw;
        margin-top: 5vh;
      }
      @include mixins.tabletPortrait {
        font-size: 13vw;
        margin-top: 5vh;
      }
      @include mixins.tablet {
        font-size: 8vw;
        margin-top: 5vh;
      }
    }

    h3 {
      font-size: 7vw * $h1-h3-ratio;
      width: 50%;
      margin: auto;
      padding: 4px;
      @include mixins.glass-effect();

      @include mixins.mobile {
        font-size: 21vw * $h1-h3-ratio;
        width: 100%;
      }
      @include mixins.tabletPortrait {
        font-size: 16vw * $h1-h3-ratio;
        width: 80%;
      }
      @include mixins.tablet {
        font-size: 10vw * $h1-h3-ratio;
        width: 50%;
      }
    }
  }

  .logo {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    width: 8vw;
    height: 8vh;

    @include mixins.mobile {
      display: none;
    }
    @include mixins.tabletPortrait {
      display: none;
    }
    @include mixins.allDesktop {
      bottom: 2vw;
      right: 0vw;
    }
    @include mixins.tablet {
      bottom: 2vw;
      right: 0vw;
    }
  }
}
