@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: 100%;
  height: 100dvh;
  direction: rtl;
  user-select: none;

  .videoContainer {
    .video {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1,
  .title {
    position: relative;
    z-index: 1;
    font-size: 6.5vw;
    line-height: 12vh;
    text-align: center;
    color: config.$white;
    text-shadow: 0.3vw 0.3vw 0.4vw rgba(0, 0, 0, 0.2);

    @include mixins.mobile {
      font-size: 11vw;
      line-height: 6vh;
      padding-top: 3vh;
    }
    @include mixins.tabletPortrait {
      font-size: 11vw;
      line-height: 8vh;
      padding-top: 4vh;
    }
    @include mixins.tablet {
      font-size: 5.8vw;
      line-height: 8vh;
    }
  }

  .information {
    position: absolute;
    bottom: 0px;
    text-align: justify;
    direction: rtl;
    width: 40vw;
    margin: 0 auto;
    padding-right: 2vw;
    color: config.$white;

    @include mixins.mobile {
      width: 100vw;
      padding: 0px 4vw;
      padding-top: 4vw;
      @include mixins.transparentBackground(0.8, config.$black);
    }
    @include mixins.tabletPortrait {
      width: 100vw;
      padding: 0px 3vw;
      padding-top: 3vw;
      @include mixins.transparentBackground(0.8, config.$black);
    }
    @include mixins.tablet {
      width: 36vw;
    }

    h2 {
      font-size: 2.83vw;
      line-height: 7vh;
      text-align: center;
      text-shadow: 0.1vw 0.15vw 0.1vw rgba(0, 0, 0, 0.2);

      @include mixins.mobile {
        font-size: 5vw;
        line-height: 5vh;
      }
      @include mixins.tabletPortrait {
        font-size: 5vw;
        line-height: 6vh;
      }
      @include mixins.tablet {
        font-size: 2.5vw;
        line-height: 5vh;
      }
    }
    p {
      font-size: 1.15vw;
      line-height: 2.5vh;
      text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.2);

      @include mixins.mobile {
        font-size: 3vw;
      }
      @include mixins.tabletPortrait {
        font-size: 2.5vw;
      }
      @include mixins.tablet {
        font-size: 1.2vw;
      }
    }

    .row {
      @include mixins.row-space-between-center();
      justify-content: flex-start;
      align-items: baseline;

      p {
        margin-right: 0.5vw;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      width: 65%;
      margin: 2vw auto;
      margin-top: 1vw;
      background: config.$yellow;
      box-shadow: config.$button-shadow;
      @include mixins.border-radius(5vw);

      @include mixins.mobile {
        height: 6vh;
        margin-bottom: 3vh;
        width: 50%;
      }
      @include mixins.tabletPortrait {
        height: 6vh;
        margin-bottom: 3vh;
        width: 50%;
      }
      @include mixins.tablet {
        height: 6vh;
        margin-bottom: 3vh;
      }

      &:hover {
        color: config.$yellow;
        background: config.$black;
        cursor: pointer;
      }

      h2 {
        text-shadow: none;
      }
    }
  }

  .logo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 8vw;
    height: 10vh;
    margin-bottom: 2vw;

    @include mixins.mobile {
      height: 6vh;
      margin: 3vh;
    }
    @include mixins.tabletPortrait {
      height: 6vh;
      margin: 3vh;
    }
    @include mixins.tablet {
      height: 6vh;
    }
  }
}
