@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  color: config.$black;
  margin-top: 150px;
  height: calc(100vh - 150px);

  @include mixins.mobile {
    width: 100%;
    min-height: 770px;
  }
  @include mixins.tablet {
    width: 100%;
    min-height: 770px;
  }
  @include mixins.desktop {
    background: linear-gradient(
      to bottom,
      config.$white 50%,
      config.$yellow 50%
    );
  }
  @include mixins.fourK {
    background: linear-gradient(
      to bottom,
      config.$white 50%,
      config.$yellow 50%
    );
  }
}

.title,
.titleReverse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;
  margin-bottom: 40px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
}

.titleReverse {
  direction: ltr;
}

.information,
.informationReverse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;

  @include mixins.fourK {
    height: 20vh;
  }
  @include mixins.mobile {
    width: calc(100% - 24px);
    flex-direction: column;
    justify-content: flex-start;
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
    flex-direction: column;
    justify-content: flex-start;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
    flex-direction: column;
    justify-content: flex-start;
  }

  div {
    width: 50%;
    max-width: 700px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
  }
}

.informationReverse {
  direction: ltr;
}

.swiperContainer {
  height: 50vh;
  text-align: center;
  background: config.$yellow;
  user-select: none;

  .swiper {
    height: 70%;

    background: linear-gradient(
      to bottom,
      config.$black 70%,
      config.$yellow 0%
    );

    @include mixins.fourK {
      height: 80%;
    }
  }

  .swiperSlide {
    height: 70%;
  }

  .details {
    position: relative;
    margin: auto;
    width: 50%;

    @include mixins.fourK {
      margin-top: 80px;
    }
    @include mixins.mobile {
      width: 100%;
    }
  }
}
