@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  max-width: config.$max-widthHeigh;
  color: config.$black;
  margin-top: 150px;

  @include mixins.mobile {
    width: 100%;
  }

  @include mixins.tablet {
    width: 100%;
  }
}

.information,
.informationReverse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;
  line-height: 35px;
  width: config.$content-width;
  margin: auto;

  @include mixins.mobile {
    width: calc(100% - 24px);
    flex-direction: column;
  }
  @include mixins.tablet {
    flex-direction: column;
  }

  div {
    width: 50%;

    h3 {
      color: config.$yellow;
      margin-bottom: 16px;
    }

    @include mixins.mobile {
      margin-top: 40px;
      width: calc(100% - 24px);
    }

    @include mixins.tablet {
      margin-top: 40px;
      width: calc(100% - 24px);
    }
  }
}

.informationReverse {
  direction: ltr;
}

.swiper {
  background: config.$yellow;
  height: 600px;
  margin-top: 50px;
  text-align: center;

  .image {
    height: 400px;
  }

  .details {
    margin-top: 20px;
  }
}
