@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  color: config.$black;
  background: linear-gradient(to bottom, config.$white 50%, config.$yellow 50%);
  margin-top: 120px;
  height: calc(100vh - 120px);

  @include mixins.mobile {
    width: 100%;
    min-height: 770px;
  }
  @include mixins.tablet {
    width: 100%;
    min-height: 770px;
  }
}

.information,
.informationReverse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;
  height: 30vh;

  @include mixins.fourK {
    height: 20vh;
  }
  @include mixins.mobile {
    width: calc(100% - 24px);
    flex-direction: column;
    height: 350px;
  }
  @include mixins.tablet {
    flex-direction: column;
    height: 350px;
    width: config.$content-widthTablet;
  }

  div {
    width: 50%;
    max-width: 700px;

    h3 {
      color: config.$yellow;
      margin-bottom: 16px;
    }

    @include mixins.mobile {
      margin-top: 40px;
      width: calc(100% - 24px);
      height: 300px;
    }

    @include mixins.tablet {
      margin-top: 40px;
      width: calc(100% - 24px);
      height: 300px;
    }
  }
}

.informationReverse {
  direction: ltr;
}

.swiperContainer {
  height: 70vh;
  text-align: center;

  .swiper {
    height: 50%;

    @include mixins.fourK {
      height: 60%;
    }
  }

  .imageSwiper {
    object-fit: cover;
    height: 500px;
  }

  .swiperSlide {
    height: 70%;
  }

  .details {
    margin-top: 20px;
  }
}
