@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  padding: 20px;

  @include mixins.mobile {
    padding: 12px;
  }
  @include mixins.desktop {
    text-align: justify;
  }
}

.information,
.informationReverse {
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;
  direction: rtl;

  display: flex;
  flex-direction: column;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .box {
    .methods {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include mixins.mobile {
        flex-direction: column;
      }

      h3 {
        width: 50%;

        @include mixins.mobile {
          width: 100%;
          margin-top: 20px;
        }
      }
    }

    .more,
    .moreReverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      float: left;

      color: config.$yellow;
      margin-top: 10px;
      margin-bottom: 50px;
      padding: 5px;
      width: 140px;

      &:hover {
        background: config.$yellow;
        color: config.$black;
        border-radius: 5px;
        cursor: pointer;
      }

      .icon {
        display: flex;
      }
    }

    .moreReverse {
      flex-direction: row;
      direction: rtl;
      float: right;

      .icon {
        transform: rotateY(180deg);
      }
    }
  }
}

.videoContainer {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, config.$black 50%, config.$white 50%);
  padding: 20px 0px;

  .video {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
  }
}

.imageContainerOne,
.imageContainerTwo {
  position: relative;
  background: linear-gradient(to bottom, config.$white 50%, config.$black 50%);
  height: 300px;
}

.arrowDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  width: 80px;
  margin: auto;
  transform: rotate(90deg);
}

.imageContainerTwo {
  height: 600px;
  background: linear-gradient(to bottom, config.$black 50%, config.$white 50%);

  @include mixins.mobile {
    height: 300px;
  }
}

.informationReverse {
  direction: ltr;
}

.arrowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    min-width: 300px;
    text-align: center;

    @include mixins.mobile {
      min-width: 200px;
    }
    @include mixins.desktop {
      font-size: 3.5rem;
    }
    @include mixins.tablet {
      font-size: 2.5rem;
    }
  }
}

.gridWorks {
  margin: 50px 0px;
}

.notFound {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;
  text-align: center;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
