@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.gridWorks {
  margin: 80px 0px;

  @include mixins.mobile {
    margin: 20px 0px;
  }
}

.message {
  text-align: center;
  color: config.$grey;
  margin: auto;
  width: config.$content-width;

  &:hover {
    cursor: pointer;
    color: config.$black;
  }
}

.notFound {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;
  text-align: center;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}
