@use "config" as config;
@use "mixins" as mixins;

@font-face {
  font-family: "EnglishBold";
  src: url("../assets/fonts/En/Kalameh-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "FarsiBold";
  src: url("../assets/fonts/Fa/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "FarsiHeavy";
  src: url("../assets/fonts/Fa/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "FarsiFat";
  src: url("../assets/fonts/Fa/YekanBakh-Fat.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "EnglishMedium";
  src: url("../assets/fonts/En/Kalameh-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "FarsiMedium";
  src: url("../assets/fonts/Fa/YekanBakh-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "English";
  src: url("../assets/fonts/En/Kalameh-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Farsi";
  src: url("../assets/fonts/Fa/YekanBakh-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "EnglishLight";
  src: url("../assets/fonts/En/Kalameh-Light.ttf") format("truetype");
}
@font-face {
  font-family: "FarsiLight";
  src: url("../assets/fonts/Fa/YekanBakh-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: config.$background;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 100 !important;
}

h1 {
  font-size: 2.2rem;
  @include mixins.mobile {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.7rem;
  @include mixins.mobile {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.appload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 4 / 4;
  width: 30%;
  margin: auto;
  color: #981b1e;

  @include mixins.mobile {
    width: 50%;
  }
}
