@use "config" as config;
@use "mixins" as mixins;

@font-face {
  font-family: "EnglishBold";
  src: url("../assets/fonts/En/Kalameh-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "FarsiBold";
  src: url("../assets/fonts/Fa/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "EnglishMedium";
  src: url("../assets/fonts/En/Kalameh-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "FarsiMedium";
  src: url("../assets/fonts/Fa/YekanBakh-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "English";
  src: url("../assets/fonts/En/Kalameh-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Farsi";
  src: url("../assets/fonts/Fa/YekanBakh-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EnglishLight";
  src: url("../assets/fonts/En/Kalameh-Light.ttf") format("truetype");
}

@font-face {
  font-family: "FarsiLight";
  src: url("../assets/fonts/Fa/YekanBakh-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: config.$background;
  user-select: none;
  margin: auto;
  margin-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  @include mixins.mobile {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.7rem;
  @include mixins.mobile {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.2rem;
  @include mixins.mobile {
    font-size: 1rem;
  }
}

p {
  font-size: 1rem;
  @include mixins.mobile {
    font-size: 0.8rem;
  }
}

.main {
  min-height: 100vh;
}

.menu {
  position: fixed;
  z-index: 50;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid config.$lightgrey;
}

.icon {
  @include mixins.desktop {
    &:hover {
      color: config.$yellow;
      cursor: pointer;
    }
  }
}

.message {
  color: config.$red;
  margin: 16px 0px;
  font-size: config.$tiny-font;
  text-align: center;
  color: config.$grey;
}

.register {
  width: 500px;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }
}

.appload {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.scrollArrow {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  cursor: pointer;

  @include mixins.mobile {
    right: 12px;
    bottom: 12px;
  }
}

// input file
label.file input[type="file"] {
  position: absolute;
  top: -1000px;
}
.file {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid config.$lightgrey;
  padding: 8px;
  color: config.$grey;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
}
.file:hover {
  color: config.$black;
  border: 1px solid config.$yellow;
}

// swiper
.about_swiperSlide__KLdpq.swiper-slide-prev {
  position: relative !important;
  z-index: -1 !important;
}
.about_swiperSlide__KLdpq.swiper-slide-next {
  position: relative !important;
  z-index: -1 !important;
}
.about_swiperSlide__KLdpq.swiper-slide-active {
  // transform: scale(1.5, 1.5) !important;
  clip-path: polygon(50% 100%, 0% 85%, 0% 0%, 100% 0%, 100% 85%) !important;
  height: 100% !important;
}
.swiper-button-prev {
  background-image: url("../assets/prev.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 0.7;
}
.swiper-button-next {
  background-image: url("../assets/next.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 0.7;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
