@use "config" as config;
@use "mixins" as mixins;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: config.$font;
  font-weight: 300;
}

html {
  background: config.$background;
}

body {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 45px !important;
  @include mixins.mobile {
    font-size: 27px !important;
  }
}

h2 {
  font-size: 27px !important;
  @include mixins.mobile {
    font-size: 19px !important;
  }
}

h3 {
  font-size: 17px !important;
}

.main {
  min-height: 100vh;
}

.menu {
  position: absolute;
  z-index: 50;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.icon {
  @include mixins.desktop {
    &:hover {
      cursor: pointer;
    }
  }
}

.alert,
.message {
  text-align: center;
  color: config.$red;
  margin: 16px 0px;
  font-size: config.$tiny-font;
}

.message {
  color: config.$grey;
}

.register {
  width: 500px;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }
}

.appload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
