@use "config" as config;
@use "mixins" as mixins;

@font-face {
  font-family: "EnglishBold";
  src: url("../assets/fonts/En/Kalameh-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "FarsiBold";
  src: url("../assets/fonts/Fa/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "FarsiHeavy";
  src: url("../assets/fonts/Fa/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "FarsiFat";
  src: url("../assets/fonts/Fa/YekanBakh-Fat.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "EnglishMedium";
  src: url("../assets/fonts/En/Kalameh-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "FarsiMedium";
  src: url("../assets/fonts/Fa/YekanBakh-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "English";
  src: url("../assets/fonts/En/Kalameh-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Farsi";
  src: url("../assets/fonts/Fa/YekanBakh-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "EnglishLight";
  src: url("../assets/fonts/En/Kalameh-Light.ttf") format("truetype");
}
@font-face {
  font-family: "FarsiLight";
  src: url("../assets/fonts/Fa/YekanBakh-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: config.$background;
  margin: auto;
  margin-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 100 !important;
}

h1 {
  font-size: 2.2rem;
  @include mixins.mobile {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.7rem;
  @include mixins.mobile {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.main {
  min-height: 100dvh;
}

.menu {
  position: fixed;
  z-index: 50;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid config.$lightgrey;
}

.icon {
  @include mixins.allDesktop {
    &:hover {
      color: config.$yellow;
      cursor: pointer;
    }
  }
}

.message {
  color: config.$red;
  margin: 16px 0px;
  font-size: config.$tiny-font;
  text-align: center;
  color: config.$grey;
}

.register {
  width: 500px;
  margin: auto;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }
}

.appload {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.scrollArrow {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 2;
  cursor: pointer;

  @include mixins.desktop {
    right: 10px;
    bottom: 60px;
  }
  @include mixins.fourK {
    right: 10px;
    bottom: 60px;
  }
}

.chatControl {
  width: 250px;
  position: fixed;
  right: 10px;
  bottom: 0px;
  height: 50px;
  z-index: 6;
  background: config.$generalMessage;
  @include mixins.row-space-between-center();
  justify-content: space-around;
  user-select: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid config.$lightgrey;

  &:hover {
    cursor: pointer;
    background: config.$yellowShade;
  }

  .image {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 12px;
    @include mixins.border-radius(50px);
  }

  .row {
    width: 45%;
    @include mixins.row-space-between-center();
  }

  .notifications {
    position: absolute;
    left: 77px;
    bottom: 8px;
  }
}

.chatRoom {
  position: fixed;
  z-index: 5;
  right: 10px;
  top: 110px;
  width: 100%;
  width: 30%;
  height: calc(100vh - 170px);
  box-shadow: config.$card-shadow;
}

.controlPanel,
.dropDown {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  box-shadow: config.$image-shadow;
  background: config.$white;
  user-select: none;
  @include mixins.border-radius(50px);

  @include mixins.mobile {
    width: 40%;
  }
  @include mixins.tablet {
    width: 25%;
  }
}

.dropDown {
  top: 190px;
  flex-direction: column;
  height: 80px;
  @include mixins.border-radius(5px);

  .confirm {
    color: config.$green;
    cursor: pointer;
  }
  .cancel {
    color: config.$red;
    cursor: pointer;
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

// input file
label.file input[type="file"] {
  display: none;
}
.file {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid config.$lightgrey;
  padding: 8px;
  color: config.$grey;
  height: 50px;
  cursor: pointer;
  @include mixins.border-radius(5px);
}
.file:hover {
  color: config.$yellow;
  border: 1px solid config.$yellow;
}

// swiper
.about_swiperSlide__KLdpq.swiper-slide-prev {
  position: relative !important;
  z-index: -1 !important;
}
.about_swiperSlide__KLdpq.swiper-slide-next {
  position: relative !important;
  z-index: -1 !important;
}

.about_swiperSlide__KLdpq.swiper-slide-active {
  height: 80% !important;
  scale: 1.5;
  transition: all 0.3s ease;
  @include mixins.arrow-shape();

  @include mixins.mobile {
    height: 90% !important;
    scale: 1.2;
  }
}

// general arrow
.swiper-button-prev {
  background-image: url("../assets/prev.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 0.7;
}
.swiper-button-next {
  background-image: url("../assets/next.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 0.7;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

// swiper gallery
.GallerySlider_swiper__DIjwm {
  .swiper-button-prev {
    background-image: url("../assets/prevYellow.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 0.5;
  }
  .swiper-button-next {
    background-image: url("../assets/nextYellow.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 0.5;
  }
}

::selection {
  background: config.$yellow;
  color: config.$black;
}

::-moz-selection {
  background: config.$yellow;
  color: config.$black;
}
