@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.rowOne,
.rowOneReverse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(50vh - 50px);
  direction: rtl;
  padding-top: 50px;
  padding-bottom: 24px;

  .infoBox {
    position: relative;
    z-index: 5;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: calc(100% - 24px);
    }

    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }

    h1 {
      @include mixins.mobile {
        width: 100%;
      }
    }
    p {
      width: 50%;
      max-width: 700px;

      @include mixins.mobile {
        width: 100%;
      }
    }
  }

  .navBox {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    user-select: none;

    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.mobile {
      width: calc(100% - 24px);
    }

    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 700px;
      width: 50%;

      @include mixins.mobile {
        width: 100%;
      }

      span {
        margin: 0px 8px;
        color: config.$black;
      }

      .nav,
      .navActive {
        color: config.$black;

        @include mixins.allDesktop {
          &:hover {
            color: config.$yellow;
            cursor: pointer;
          }
        }
      }

      .navActive {
        color: config.$yellow;
      }
    }
  }
}

.rowOneReverse {
  direction: ltr;
}

.rowTwo,
.rowTwoReverse {
  padding-top: 24px;
  direction: rtl;
  height: calc(50vh - 50px);
  background: config.$yellow;

  @include mixins.mobile {
    height: 100vh;
    background: linear-gradient(
      to bottom,
      config.$white 50%,
      config.$yellow 50%
    );
  }
}

.rowTwoReverse {
  direction: ltr;
}

.containerRow,
.containerReverse {
  margin: auto;
  width: 100%;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  position: relative;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    width: calc(100% - 24px);
  }

  .imageBox {
    max-width: 700px;

    @include mixins.allDesktop {
      position: absolute;
      top: -240px;
      width: 40%;
    }
    @include mixins.fourK {
      position: absolute;
      top: -340px;
      width: 50%;
    }
    @include mixins.tablet {
      position: absolute;
      top: -280px;
      width: 50%;
    }
    @include mixins.tabletPortrait {
      position: absolute;
      top: -220px;
      width: 50%;
    }
    @include mixins.mobile {
      width: 100%;
    }
  }

  .jobBox {
    display: flex;
    flex-direction: column;
    user-select: none;

    @include mixins.mobile {
      margin-bottom: 24px;
    }

    h3 {
      color: config.$white;
      margin-bottom: 16px;

      @include mixins.mobile {
        color: config.$black;
      }
    }

    .job {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$white;
        }
      }

      p {
        margin-left: 8px;
      }
    }
  }
}

.containerRow {
  .jobIcon {
    display: inline-block;
    transform: scaleX(-1);
  }

  p {
    margin-right: 8px;
    margin-left: 0px;
  }

  .imageBox {
    left: 0px;

    .image {
      display: inline-block;
      transform: scaleX(-1);
    }
  }
}

.containerReverse {
  .imageBox {
    right: 0px;
  }
}

.jobContainer,
.jobContainerReverse {
  position: relative;
  margin: auto;
  color: config.$black;
  margin-top: 150px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  direction: rtl;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }

  .banner {
    height: fit-content;
    background: config.$yellow;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 10px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 14px;
    width: 55%;

    .row,
    .rowReverse {
      display: flex;
      align-items: center;
      justify-content: center;
      direction: rtl;

      p {
        margin-right: 2px;
      }
    }

    .rowReverse {
      direction: ltr;
      p {
        margin-left: 2px;
      }
    }
  }

  .jobBox {
    @include mixins.row-space-between-center();
    width: 100%;
    margin: 14px 0px;

    @include mixins.tabletPortrait {
      display: flex;
      flex-direction: column;
    }

    .senJobForm,
    .senJobFormReverse {
      width: 40%;
    }

    .information {
      width: 55%;

      div {
        margin-bottom: 32px;

        h3 {
          margin-bottom: 8px;
        }
      }
    }
  }
}
.jobContainerReverse {
  direction: ltr;
}
