@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.development {
  margin: 200px auto;
  text-align: center;
}
.rowOne,
.rowOneReverse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(50vh - 50px);
  direction: rtl;
  padding-top: 50px;
  padding-bottom: 24px;

  .infoBox {
    position: relative;
    z-index: 5;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: calc(100% - 24px);
    }

    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }

    h1 {
      @include mixins.mobile {
        width: 100%;
      }
    }
    h3 {
      width: 50%;
      max-width: 700px;

      @include mixins.mobile {
        width: 100%;
      }
    }
  }

  .navBox {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    user-select: none;

    @include mixins.tablet {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.mobile {
      width: calc(100% - 24px);
    }

    button {
      margin-bottom: 12px;
      @include mixins.button(config.$yellow, config.$white);

      @include mixins.allDesktop() {
        &:hover {
          color: config.$yellow;
        }
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 700px;
      width: 50%;

      @include mixins.mobile {
        width: 100%;
      }

      span {
        margin: 0px 8px;
        color: config.$black;
      }

      .nav,
      .navActive {
        color: config.$black;

        @include mixins.allDesktop {
          &:hover {
            color: config.$yellow;
            cursor: pointer;
          }
        }
      }

      .navActive {
        color: config.$yellow;
      }
    }
  }
}

.rowOneReverse {
  direction: ltr;
}

.rowTwo,
.rowTwoReverse {
  padding-top: 24px;
  direction: rtl;
  height: calc(50vh - 50px);
  background: config.$yellow;

  @include mixins.mobile {
    height: 100dvh;
    background: linear-gradient(
      to bottom,
      config.$white 50%,
      config.$yellow 50%
    );
  }
}

.rowTwoReverse {
  direction: ltr;
}

.containerRow,
.containerReverse {
  margin: auto;
  width: 100%;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  position: relative;

  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    width: calc(100% - 24px);
  }

  .imageBox {
    max-width: 700px;

    @include mixins.allDesktop {
      position: absolute;
      left: 80%;
      top: 20%;
      transform: translate(-50%, -50%);
      width: 40%;
    }
    @include mixins.fourK {
      left: 76%;
      width: 50%;
    }
    @include mixins.tablet {
      position: absolute;
      left: 76%;
      top: 20%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
    @include mixins.tabletPortrait {
      position: absolute;
      left: 76%;
      top: 20%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
    @include mixins.mobile {
      width: 100%;
    }
  }

  .jobBox {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 250px;

    @include mixins.mobile {
      margin-bottom: 24px;
      height: 200px;
    }

    h3 {
      color: config.$white;
      margin-bottom: 16px;

      @include mixins.mobile {
        color: config.$black;
      }
    }

    .job {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$white;
        }
      }

      .title {
        margin: 0px 8px;
        font-size: 19.2px;
      }
    }
  }
}

.containerRow {
  .jobIcon {
    display: inline-block;
    transform: scaleX(-1);
  }

  .imageBox {
    @include mixins.allDesktop {
      left: 20%;
    }
    @include mixins.allDesktop {
      left: 20%;
    }
    @include mixins.fourK {
      left: 24%;
      width: 50%;
    }
    @include mixins.tablet {
      left: 24%;
    }
    @include mixins.tabletPortrait {
      left: 24%;
    }
    @include mixins.mobile {
      width: 100%;
    }

    .image {
      display: inline-block;
      transform: scaleX(-1);
    }
  }
}

.containerReverse {
  .imageBox {
    right: 0px;
  }
}

.jobContainer,
.jobContainerReverse {
  position: relative;
  margin: auto;
  margin-top: 150px;
  color: config.$black;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  direction: rtl;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }

  h1 {
    user-select: none;
    width: fit-content;
    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$yellow;
      }
    }
  }

  .banner {
    height: fit-content;
    background: config.$yellow;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 10px;
    @include mixins.border-radius(5px);
    padding: 10px;
    margin-top: 14px;
    width: 55%;

    @include mixins.mobile {
      width: 100%;
      @include mixins.row-space-between-center();
      flex-wrap: wrap;
    }
    @include mixins.tabletPortrait {
      width: 100%;
      @include mixins.row-space-between-center();
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include mixins.tablet {
      width: 55%;
      @include mixins.row-space-between-center();
      flex-wrap: wrap;
    }

    .row,
    .rowReverse {
      display: flex;
      align-items: center;
      justify-content: center;
      direction: rtl;

      p {
        margin-right: 2px;
      }
    }

    .rowReverse {
      direction: ltr;
      p {
        margin-left: 2px;
      }
    }
  }

  .jobBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 14px 0px;

    @include mixins.tabletPortrait {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }

    .senJobForm,
    .senJobFormReverse {
      width: 40%;

      @include mixins.fourK {
        width: 35%;
      }
      @include mixins.tabletPortrait {
        width: 65%;
      }
      @include mixins.mobile {
        width: 100%;
      }
      @include mixins.allDesktop {
        position: relative;
        bottom: 10px;
      }
      @include mixins.tablet {
        position: relative;
        bottom: 15px;
      }
    }

    .information {
      width: 55%;

      @include mixins.tabletPortrait {
        width: 100%;
        margin-bottom: 50px;
      }
      @include mixins.mobile {
        width: 100%;
        margin-bottom: 50px;
      }

      div {
        margin-bottom: 32px;

        h3 {
          margin-bottom: 8px;
        }
      }

      .description {
        font-size: 19.2px;
      }
    }
  }
}
.jobContainerReverse {
  direction: ltr;
}

.resumeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: 150px auto;
  direction: rtl;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: config.$content-widthTablet;
  }

  .resume {
    padding: 16px;
    @include mixins.border-radius(5px);
    box-shadow: config.$card-shadow;
    height: fit-content;

    p,
    h3 {
      margin: 4px 0px;
    }

    h3 {
      color: config.$yellow;
    }
  }

  .action {
    margin-top: 12px;

    .row {
      width: 50%;
      @include mixins.row-space-between-center();

      h3 {
        @include mixins.allDesktop {
          &:hover {
            color: config.$yellow !important;
            cursor: pointer;
          }
        }
      }
    }
  }
}
