@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 12px;
  margin-bottom: 50px;
}

.pageNavigation {
  width: 65%;
  margin: auto;
  margin-bottom: 50px;
  height: 40px;
  border-bottom: 1px solid config.$lightgrey;
  text-transform: capitalize;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: 100%;
  }

  .nav {
    font-weight: bold !important;

    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }

  .navActive {
    color: config.$yellow;
    font-weight: bold !important;
  }
}

.build {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  font-weight: 300;

  .input,
  .inputTextArea {
    margin: 12px 0px;
  }

  .inputTextArea {
    height: 235px;
  }

  .bar,
  .barReverse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
  }
  .barReverse {
    flex-direction: row-reverse;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;

    span {
      color: config.$red;
      font-size: config.$tiny-font;
    }
  }

  select,
  textarea,
  input {
    @include mixins.input();
    width: 100%;
  }

  textarea {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
  }

  @include mixins.mobile {
    width: 100%;
  }
}

.delete {
  display: flex;
  justify-content: center;

  button {
    @include mixins.button(config.$red, config.$white);
    margin: auto;
    &:hover {
      color: config.$red;
    }
  }
}

.navigation {
  @include mixins.row-space-between-center();
  justify-content: space-around;
  height: 40px;
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid config.$lightgrey;
  border-radius: 50px;

  @include mixins.mobile {
    width: 100%;
  }
}

.nav {
  @include mixins.desktop {
    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }
}

.navActive {
  color: config.$yellow;
  font-weight: bold !important;
}

.formAction {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  .mediaContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 12px;
    width: 100%;

    .media {
      width: 100%;
    }
  }

  button {
    @include mixins.button(config.$yellow, config.$black);
    margin: auto;
  }

  .clearMedia {
    margin-top: 20px;
    cursor: pointer;
  }

  .preview {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));

    .video {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .alert {
    margin: 16px 0px;
    color: config.$red;
  }
}
