@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 12px;
  margin-bottom: 50px;
  user-select: none;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.pageNavigation {
  width: 65%;
  margin: 24px auto;
  height: 40px;
  border-bottom: 1px solid config.$lightgrey;
  text-transform: capitalize;
  @include mixins.row-space-between-center();
  user-select: none;

  @include mixins.mobile {
    width: 100%;
    justify-content: space-around;
    p {
      font-size: small;
    }
  }

  .nav {
    font-weight: bold !important;

    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }

  .navActive {
    color: config.$yellow;
    font-weight: bold !important;
  }
}

.form,
.formJobSend {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  user-select: none;

  .input,
  .inputTextArea {
    margin: 12px 0px;
  }

  .inputTextArea {
    height: 235px;
  }

  .bar,
  .barReverse {
    @include mixins.row-space-between-center();
    height: 30px;
    margin-bottom: 8px;
  }
  .barReverse {
    flex-direction: row-reverse;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;

    span {
      color: config.$red;
      font-size: config.$tiny-font;
    }
  }

  select,
  textarea,
  input {
    @include mixins.input();
    width: 100%;
  }

  textarea {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
  }

  @include mixins.mobile {
    width: 100%;
  }

  .addField {
    @include mixins.button(config.$green, config.$white);
    & {
      width: 100px;
    }
    @include mixins.allDesktop() {
      &:hover {
        color: config.$green;
      }
    }
  }
  .removeField {
    @include mixins.button(config.$red, config.$white);
    & {
      width: 100px;
      margin-top: 12px;
    }
    @include mixins.allDesktop() {
      &:hover {
        color: config.$red;
      }
    }
  }
}

.formJobSend {
  .label {
    color: config.$black;
  }

  .input,
  .inputTextArea {
    margin: 8px 0px;
  }

  select,
  textarea,
  input {
    border: 1px solid config.$black;
  }
}

.deleteUser {
  display: flex;
  justify-content: center;

  button {
    @include mixins.button(config.$red, config.$white);
    & {
      margin: auto;
    }
    @include mixins.allDesktop() {
      &:hover {
        color: config.$red;
      }
    }
  }
}

.navigation {
  @include mixins.row-space-between-center();
  justify-content: space-around;
  height: 40px;
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid config.$lightgrey;
  @include mixins.border-radius(50px);

  @include mixins.mobile {
    width: 100%;
  }
}

.nav {
  @include mixins.desktop {
    &:hover {
      cursor: pointer;
      color: config.$yellow;
    }
  }
}

.navActive {
  color: config.$yellow;
  font-weight: bold !important;
}

.message {
  display: flex;
  justify-content: center;
  color: config.$grey;
}

.formAction {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  user-select: none;
  margin-top: 18px;

  .mediaContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 12px;
    width: 100%;

    .media {
      width: 100%;
    }
  }

  button {
    @include mixins.button(config.$yellow, config.$white);
    & {
      margin: auto;
    }

    &:hover {
      background: config.$white;
      color: config.$yellow;
    }
  }

  .clearMedia {
    margin-top: 20px;
    cursor: pointer;
  }

  .preview {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));

    .video {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .alert {
    margin: 16px 0px;
    color: config.$red;
  }

  .resumeRecieved {
    margin-top: 20px;
  }

  .resume {
    color: config.$black;
    text-align: right;
    margin-bottom: 4px;

    span {
      color: config.$red;
    }
  }

  .row {
    @include mixins.row-space-between-center();
    width: 100%;

    button {
      margin: 0px;
      width: 200px;

      @include mixins.mobile {
        width: 150px;
      }
      @include mixins.tablet {
        width: 170px;
      }
    }

    // input file
    label.file input[type="file"] {
      display: none;
    }
    .file {
      display: flex;
      align-items: center;
      border: 1px solid config.$lightgrey;
      padding: 8px;
      cursor: pointer;
      height: 40px;
      width: 200px;
      color: config.$white;
      background: config.$grey;
      @include mixins.border-radius(5px);

      @include mixins.mobile {
        width: 150px;
      }
      @include mixins.tablet {
        width: 170px;
      }
    }
    .file:hover {
      color: config.$yellow;
      background: config.$white;
      border: 1px solid config.$yellow;
    }

    .label,
    .labelReverse {
      position: relative;
      left: -40%;
      @include mixins.mobile {
        left: -30%;
      }
      @include mixins.tablet {
        left: -35%;
      }
    }

    .labelReverse {
      left: 25%;
      @include mixins.mobile {
        left: 15%;
      }
      @include mixins.tablet {
        left: 20%;
      }
    }
  }
}

.coversGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  user-select: none;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .cover {
    width: 100%;
    height: 250px;

    .media {
      position: relative;
      width: 100%;
      height: 75%;
      object-fit: cover;
    }

    .title,
    .titleReverse {
      margin-bottom: 10px;

      @include mixins.allDesktop {
        &:hover {
          cursor: pointer;
          color: config.$yellow;
        }
      }
    }

    .titleReverse {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;

    .input {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        @include mixins.input();
        height: 20px;
        width: 100px;
        margin-right: 10px;
      }
    }
  }
}

.assignmentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .assignment {
    width: 100%;
    max-width: 400px;
    margin: 12px 0px;
    text-align: center;

    .calendar {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin: 12px 0px;
      }
    }

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
  }

  input,
  textarea,
  select {
    @include mixins.input();
    width: 100%;
    margin-bottom: 8px;
  }

  textarea {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
  }

  select {
    direction: ltr;
  }

  .bar {
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
    height: 30px;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;

    span {
      color: config.$red;
      font-size: config.$tiny-font;
    }
  }

  .indicatorAction {
    margin-top: 12px;
    @include mixins.row-space-between-center();
    justify-content: space-around;
  }

  .assignmentSelection,
  .assignmentSelectionFloat {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 4px;
    margin-top: 16px;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    direction: rtl;

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      width: config.$content-widthTablet;
    }
    @include mixins.tablet {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      width: config.$content-widthTablet;
    }

    .row {
      @include mixins.row-space-between-center();
      border: 1px solid config.$lightgrey;
      padding: 4px;
      @include mixins.border-radius(5px);

      &:hover {
        cursor: pointer;
        border: 1px solid config.$yellow;
      }
    }
  }

  .assignmentSelectionFloat {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: calc(100% - 24px);
  }
}

.tasksManager {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 8px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  direction: rtl;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: config.$content-widthTablet;
  }
  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: config.$content-widthTablet;
  }

  .usersTasks {
    background: config.$generalMessage;
    padding: 8px;
    @include mixins.border-radius(5px);

    .row {
      @include mixins.row-space-between-center();

      select {
        width: 40%;
      }
    }
  }
}
